<app-menu-popup [active]='active' (close)='close.emit()'>
    <p i18n>
        אתר כל שירות נבנה ע"י 
        <a href='https://www.kolzchut.org.il/he/כל-זכות:אודות_המיזם'>
            כל זכות בע"מ (חל"צ)
        </a>
         כחלק ממיזם הזכויות הממשלתי בהובלת משרד המשפטים ומטה ישראל דיגיטלית במערך הדיגיטל הלאומי. בנוסף יש מספר גופים שמלווים ומסייעים להקמה של כל שירות:
    </p>
    <ul>
        <li i18n>
            אגף ממשל וחברה במשרד ראש הממשלה
        </li>
        <li i18n>
            יחידת ממשל זמין ברשות התקשוב
        </li>
        <li i18n>
            רשות התאגידים ואתר גיידסטאר
        </li>
        <li i18n>
            משרד הרווחה והביטחון החברתי
        </li>
        <li i18n>
            משרד הבריאות
        </li>
        <li i18n>
            משרד החינוך
        </li>
    </ul>
    <p i18n>
        בכל מקרה גם כל זכות וגם הגופים השותפים אינם אחראים על המידע המוצג באתר
    </p>
</app-menu-popup>