<a class='header'
    [routerLink]='layout.mobile ? link : (landingPage ? null : ["../.."])' 
    queryParamsHandling='preserve'
    *ngIf='card'
    [class.point]='!!pointId'
    [attr.role]='layout.mobile ? "button" : (landingPage ? null : "button")'
    [attr.aria-label]='layout.mobile ? "Toggle branch/card view" : (landingPage ? null : "Go Back")'
>
    <button class='back-icon layout-desktop' [class.card]='!!cardId' [class.point]='!!pointId' *ngIf='!landingPage' aria-label="Close service card and go back"></button>
    <div class='spacer layout-desktop' *ngIf='landingPage'></div>
    <app-branch-details [card]='card' [compact]='compact'></app-branch-details>
    <button class='control-icon layout-mobile' [class.card]='!!cardId' [class.point]='!!pointId' role="presentation" aria-hidden="true" tabindex="-1"></button>
</a>
