@import '../../common.less';

.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    cursor: pointer;
    .mobile({
        min-height: 50px;
        border-radius: 8px 8px 0px 0px; 
    });
    .desktop({
        min-height: 70px;
    });
    background: @color-gray-7;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
    padding: 6px 10px;
    padding-bottom: 8px;

    .control-icon {
        .button-image;
        .background-image;
        background-image: url(../../assets/img/icon-close.svg);
        width: 12px;
        height: 12px;
        &.card {
            width: 16px;
            height: 16px;
            background-image: url(../../assets/img/icon-chevron-down.svg);
        }
        &.point {
            transform: rotate(180deg);
        }
    }
    .back-icon {
        .button-image;
        .background-image;
        background-image: url(../../assets/img/icon-arrow-right-gray-3.svg);
        background-size: 24px;
        background-position: center right 12px;
    }
    .spacer, .back-icon {
        width: 46px;
        height: 24px;
    }
    &.point {
        .header {
            padding: 0 10px;
            min-height: 40px;
            height: 40px;
        }
    }
}