@import '../../common.less';

:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;

    &:not(.visible) {
        display: none;
    }

    .content {
        padding: 16px;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: stretch;
        height: 100%;
        gap: 24px;
        background-color: @color-blue-8;
        pointer-events: all;

        &.results {
            width: 100%;
        }

        &.map {
            width: 320px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .sidebar {
            flex: 0 0 auto;
            width: 320px;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: stretch;
            gap: 8px;
            background-color: @color-blue-8;
            z-index: 15;
        }

        .search-results {
            flex: 1 1 100%;
            overflow: scroll;
            .no-scrollbars;
        }

        .drawer-controller {
            position: absolute;
            display: none;
            width: 24px;
            height: 40px;
            background-color: @color-blue-8;
            box-shadow: -5px 2px 8px 0px #0012F01F;
            clip-path: inset(-10px 0px -10px -10px);
            z-index: 20;
            border-radius: 4px 0px 0px 4px;
            border: 1px solid @color-blue-8;
            cursor: pointer;
        }

        .open-drawer {
            right: 924px !important;
        }

        .flip{
            transform: scaleX(-1);
        }

        &.map {
            .sidebar {
                position: relative;
                height: 100%;
                padding-left: 16px;
                border-left: 1px solid @color-blue-6;
            }

            .drawer-controller {
                display: flex;
                justify-content: center;
                align-items: center;
                right: 338px;
                top: calc(50vh - 40px);
                transform: translate(-50% ,-50%);
                transition: right 0.3s ease-in-out;

                & > img{
                    transition: transform 0.3s ease-in-out;
                }
            }

            .search-results{
                position: absolute;
                height: 100%;
                width: 300px;
                right: 50px;
                padding: 0 16px;
                background-color: @color-blue-8;
                box-shadow: -4px 2px 8px 0px #0012F01F;
                min-height: 100%;
                z-index: 11;
                transition: right 0.3s ease-in-out;
            }

            .open {
                right: 336px;
                width: 600px;
            }


        }

        .overlay {
            background: rgba(0, 0, 0, 0.20);
            backdrop-filter: blur(4px);
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: all;
            z-index: 20;

            .modal {
                min-width: 400px;
                width: 40%;
                max-height: 75%;
                pointer-events: all;
                position: relative;
                background-color: white;
                padding: 8px;
                padding-bottom: 0;
                border-radius: 8px;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
            }
        }
    }
}

