<app-search-box [isActive]='activeSection === "search"' (activated)='active = $event'></app-search-box>
<app-filter-bar [forceOpaque]='!!activeSection' (activated)='active = $event'></app-filter-bar>
<div class='content' #content>
    <app-search-autocomplete *ngIf='!!intersectionObserver && activeSection === "search"' (selected)='active = null' [intersectionObserver]='intersectionObserver'></app-search-autocomplete>
    <app-filtering-config *ngIf='activeSection === "filters"'></app-filtering-config>
    <app-filtering-results-button *ngIf='activeSection === "filters"' (clicked)='active=null'></app-filtering-results-button>
</div>
<app-situation-editor *ngFor='let editor of situations.activeEditors()' [editor]='editor'></app-situation-editor>