<app-search-box [isActive]='activeSection === "search"' (activated)='active = $event'></app-search-box>
<app-filter-bar [forceOpaque]='!!activeSection' (activated)='active = $event'></app-filter-bar>
<div class='content'>
    <app-search-autocomplete *ngIf='activeSection === "search"' (selected)='active = null'></app-search-autocomplete>
    <app-filtering-config *ngIf='activeSection === "filters"'></app-filtering-config>
</div>
ֿ<app-situation-editor *ngFor='let editor of situations.activeEditors()' [editor]='editor'></app-situation-editor>