@import '../../../../common.less';

a {
    &, &:visited, &:hover {
        text-decoration: none;
        color: inherit;
    }
    > * {
        .card-shadow-card;
    }

    cursor: pointer;

    .result {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        padding: 0 4px;
        gap: 4px;
        background: @color-white;

        .count {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background: @color-gray-6;

            .font-rag-sans;
            font-weight: bold;
            font-size: 13px;
            line-height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: @color-gray-3;
        }

        .name-container {
            display: flex;
            flex-flow: row;
            align-items: baseline;

            .breadcrumbs {
                .font-rag-sans;
                font-size: 16px;
                color: @color-gray-3;
                margin-right: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .name {
            .font-rag-sans;
            font-size: 20px;
            line-height: 26px;
            color: @color-gray-1;
            display: flex;
            flex-flow: row;
            align-items: stretch;
            overflow: hidden;

            ::ng-deep strong {
                background-color: @color-gray-6;
                border-radius: 2px;
                padding: 0 1px;
            }
        }
        

        .arrow, .location {
            width: 24px;
            height: 24px;
            .background-image;
        }

        .arrow {
            margin-right: auto;
            background-image: url(../../../../assets/img/icon-chevron-left.svg);
        }
        .location {
            background-image: url(../../../../assets/img/icon-location.svg);
            background-size: 16px;
        }

    }
}