<app-menu-popup title='בתקופת החירום, אילו שירותים חסרים לנו באתר?' subtitle='הזינו פרטים בסיסיים על השירות וההצעה תועבר לעורכי התוכן'>
    <p>בתקופת המלחמה החברה האזרחית בישראל, כמו גם רשויות מקומיות, עמותות וחברות מתגייסים לתמיכה וסולידריות עם נפגעי המלחמה, החיילים, המילואימניקים ומשפחותיהם ואוכלוסיות בסיכון.</p>
    <h3>אילו שירותים מוצגים באתר?</h3>
    <p>בשגרה אתר כל שירות מציג שירותים ומענים חברתיים שהמדינה, ארגונים וגופים שונים מעמידים לרשותינו, האזרחים. במצב החירום המלחמתי הדגש הוא על שירותים המוצעים ללא תשלום ובאופן אמין ועדכני.</p>
</app-menu-popup>