@import '../../../../common.less';

:host {
    .font-rag-sans;
    height: 100%;
    width: 100%;

    h2 {
        color: @color-gray-1;
        .font-rag-sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        margin-bottom: 24px;
    }

    h3 {
        color: @color-gray-1;
        .font-rag-sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin: 0;
        margin-bottom: 8px;
    }

    p, ul {
        margin: 0;
        margin-bottom: 8px;
        font-weight: 300;
    }
}