<app-menu-popup title='בתקופת החירום, אילו שירותים חסרים לנו באתר?' subtitle='הזינו פרטים בסיסיים על השירות וההצעה תועבר לעורכי התוכן'>
    <ng-container class='content'>
        <p>
            בתקופת המלחמה מתגייסת החברה האזרחית בישראל, כמו גם רשויות מקומיות, עמותות וחברות לתמיכה וסולידריות עם נפגעי המלחמה, החיילים, המילואימניקים ומשפחותיהם ואוכלוסיות בסיכון.
        </p>
        <h3>אילו שירותים מוצגים באתר?</h3>
        <p>
            בשגרה אתר כל שירות מציג שירותים ומענים חברתיים שהמדינה, ארגונים וגופים שונים מעמידים לרשותנו, התושבים. במצב החירום המלחמתי הדגש הוא על שירותים מותאמים למצב זה, המוצעים ללא תשלום ובאופן אמין ועדכני.
            כבר אספנו <a [routerLink]='["/s", "שירותים_למצב_החירום"]'>די הרבה שירותים כאלה</a>, אולי גם שלך ביניהם.
        </p>
        <h3>איך לוודא שהתוכן אמין ועדכני?</h3>
        <p>
            כל שירות שנכנס לאתר חייב לכלול כותרת, תיאור ממצה, קטגוריה (המתאימה ביותר למצב החירום) ופרטי התקשרות ודאיים (בדקתם בעצמכם) של ספק השירות.
        </p>
        <h3>איך לעדכן שירותים של עמותות?</h3>
        <p>
            הדרך המומלצת לעדכן שירותים של עמותות היא דרך הממשק של <a href='https://www.guidestar.org.il/' target='_blank'>אתר העמותות גיידסטאר</a> שממנו אנחנו שואבים מידע בכל יום. יצרנו סרטון הדרכה קצר שמסביר בדיוק <a href='https://youtu.be/JExX4gR8NBs' target='_blank'>איך לעשות את זה</a>. אפשר לנסות לפנות אל העמותה גם אם אין לך קשר ישיר אליה או בכל זאת למלא את המידע בטופס שלנו.
        </p>
    </ng-container>
    <div class='bottom'>
        <a class='button' href='https://docs.google.com/forms/d/e/1FAIpQLScI6Nr1M5KeWCBDb0hwX5YIIh1ByNzE7EzEY9yi3iP846bphA/viewform' clickOnReturn target="_blank">
            <span>למילוי הטופס</span>
        </a>
    </div>
</app-menu-popup>