@import '../../common.less';

:host {
    width: 100%;
    height: 100%;
    display: flex;

    &:not(.active) {
        flex-flow: row;
        align-items: center;
        padding: 8px 6px;
        background: @color-white;
    
        .open-modal {
            position: relative;
            background-color: @color-white;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            .font-rag-sans;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            color: @color-gray-3;
    
            height: 32px;
            padding-left: 16px;
            padding-right: 4px;
    
            border: 1px solid @color-gray-5;
            border-radius: 16px;

            &.active {
                border: 1px solid @color-gray-1;
                color: @color-gray-1;
            }
        }
    }

    &.active {
        height: 100%;
        flex: 1 1 100%;
        overflow-y: scroll;
        .no-scrollbars;

        position: relative;
        padding-bottom: 48px;
        width: 100%;
        display: flex;
        flex-flow: column;

        .desktop({
            padding: 16px 56px;
        });

        .section {
            padding: 0 16px;

            .section-header {
                display: flex;
                flex-flow: row; 
                align-items: center;
                justify-content: space-between;
                .title {
                    .font-rag-sans;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 21px;
                    color: @color-gray-1;
                }
                .clear {
                    .font-rag-sans;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 17px;
                    color: @color-gray-3;
                    cursor: pointer;
                    margin: 0 8px;
                }
            }
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid @color-gray-6;
        }

        .submit {
            position: fixed;
            bottom: 0;
            right: 0;
            .mobile({
                width: 100%;
            });
            .desktop({
                width: @desktop-right-side-width;
            });
            height: 48px;

            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 0 16px;
            gap: 16px;

            background-color: @color-white;
            box-shadow: 0px 0px 12px #D9D9D9;

            .main {
                height: 32px;
                flex: 1 1 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border: 1px solid @color-gray-1;
                border-radius: 20px;
                background-color: @color-white;
                position: relative;

                span, strong {
                    .font-rag-sans;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 21px;
                    color: @color-gray-1;
                }

                span {
                    font-weight: 300;   
                }
                cursor: pointer;

            }

            .cancel {
                .font-rag-sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: @color-gray-3;
                cursor: pointer;
            }
        }
    }

    .tags {
        display: flex;
        flex-flow: row wrap;
    
        &.scroll {
            overflow-y: scroll;
            .no-scrollbars;
            flex-wrap: nowrap;
        }

        &.vertical {
            flex-flow: column;
        }
        gap: 8px 4px;

        app-response {
            cursor: pointer;
            margin: 4px 0;
        }

        &.responses {
            margin-top: 8px;
            gap: 0px 2px;
        }
    }
    
    .count {
        position: absolute;
        top: -2px;
        left: -2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;

        .font-rag-sans;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: @color-white;
        background: @color-gray-1;
    }
}