<div class='situations-container'>
    <div class='situations'>
        <div class='section' *ngIf='filtersState.responseItems && filtersState.responseItems.length'>
            <div class='section-header'>
                <!-- <div class='title' *ngIf='!searchParams.response'>סוגי שירות:</div>
                <div class='title' *ngIf='!!searchParams.response'>סוגי שירות נוספים:</div> -->
                <div class='title'>סוגי שירות:</div>
                <a class='clear' (activated)='filtersState.currentSearchParams.filter_responses = []; filtersState.pushSearchParams()' clickOnReturn role='button' tabindex="0" aria-label="ניקוי המסננים לסוגי השירותים">ניקוי</a>
            </div>
            <app-response-selection-widget [responses]='filtersState.responseItems' [selectedResponses]='(this.filtersState.currentSearchParams && this.filtersState.currentSearchParams.filter_responses) || []' (toggle)='filtersState.toggleResponse($event)'></app-response-selection-widget>
        </div>
        <app-search-filters-situation-section title='קהלי יעד' [situations]='filtersState.audiences' [searchParams]='filtersState.currentSearchParams' [field]='"filter_situations"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='מצבים רפואיים ומוגבלויות' [situations]='filtersState.health_issues' [searchParams]='filtersState.currentSearchParams' [field]='"filter_health"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='מוכרות ממשלתית' [situations]='filtersState.others.benefit_holders' [searchParams]='filtersState.currentSearchParams' [field]='"filter_benefit_holders"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='מצב תעסוקתי' [situations]='filtersState.others.employment' [searchParams]='filtersState.currentSearchParams' [field]='"filter_employment"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='אירועי חיים' [situations]='filtersState.others.life_events' [searchParams]='filtersState.currentSearchParams' [field]='"filter_life_events"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='דחיפות' [situations]='filtersState.others.urgency' [searchParams]='filtersState.currentSearchParams' [field]='"filter_urgency"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='קהילה' [situations]='filtersState.others.community' [searchParams]='filtersState.currentSearchParams' [field]='"filter_community"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='תפקיד' [situations]='filtersState.others.role' [searchParams]='filtersState.currentSearchParams' [field]='"filter_role"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='קבוצות גיל' [situations]='filtersState.age_groups' [searchParams]='filtersState.currentSearchParams' [field]='"filter_age_groups"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='מיועד עבור' [situations]='filtersState.others.gender' [searchParams]='filtersState.currentSearchParams' [field]='"filter_gender"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
        <app-search-filters-situation-section title='לדוברי שפות (שאינן עברית)' [situations]='filtersState.languages' [searchParams]='filtersState.currentSearchParams' [field]='"filter_languages"' (push)='filtersState.pushSearchParams()'></app-search-filters-situation-section>
    </div>    
</div>
<div class='submit'>
    <div class='inner'>
        <button class='main' (click)='filtersState.closeWithParams()'>
            <span aria-live='polite'>
                <strong *ngIf='filtersState.resultCount > 1'>{{filtersState.resultCount.toLocaleString()}} תוצאות</strong>
                <strong *ngIf='filtersState.resultCount === 1'>תוצאה אחת</strong>
                <strong *ngIf='filtersState.resultCount === 0'>אין תוצאות</strong>    
            </span>
            <span *ngIf='filtersState.resultCountBounded >= 0 && filtersState.resultCountBounded !== filtersState.resultCount && !areaSearchState.nationWide_' class='bounded'>
                &nbsp;
                <span *ngIf='filtersState.resultCountBounded > 1'>({{filtersState.resultCountBounded.toLocaleString()}} באיזור המפה)</span>
                <span *ngIf='filtersState.resultCountBounded === 1'>(אחת באיזור המפה)</span>
                <span *ngIf='filtersState.resultCountBounded === 0'>(אין באיזור המפה)</span>
            </span>
            <div class='count' *ngIf='filtersState.totalFilters'>{{filtersState.totalFilters}}</div>
        </button>
        <a class='cancel' (activated)='filtersState.clear()' *ngIf='filtersState.totalFilters' clickOnReturn role='button' tabindex="0" aria-label="ניקוי כלל המסננים">
            ניקוי
        </a>
        <a class='cancel' (activated)='filtersState.clear()' *ngIf='!filtersState.totalFilters' clickOnReturn role='button' tabindex="0" aria-label="סגירת אפשרויות הסינון ללא שמירה">
            ביטול
        </a>
    </div>  
</div>
