<!-- Mobile -->
<div class='header layout-mobile' [class.hidden]='headerState === HeaderState.Hidden || infoPage' [class.active]='headerVisible()'>
    <div class='close-button' (click)='$event.stopPropagation(); handleEvent("close-card")'></div>
    <app-filtering (activated)='headerActive = $event' (menu)='menu=true'></app-filtering>
</div>
<div class='content layout-mobile' [class.hidden]='headerState === HeaderState.Visible && headerActive'>
    <app-map *ngIf='layout.mobile' (points)='mapSelectedPoints($event)' (map)='setMap($event)'></app-map>
    <app-drawer [state]='drawerState'
                (handle)='handleEvent($event)' (height)='updateDrawerHeight($event)' (scrollTop)='drawerScrolled = !$event'
                [class.away]='disclaimerVisible || infoPage'>
        <ng-container ngProjectAs='strip'>
            <app-strip-single *ngIf='selectedCard && cardState === CardState.Preview' 
                [card]='selectedCard' (selected)='state.card = $event'
                (closed)='handleEvent("map-click")'
            ></app-strip-single>
            <app-strip-multiple *ngIf='selectedMulti && drawerState === DrawerState.Peek'
                [cards]='selectedMulti' (selected)='state.card = $event'
                (closed)='handleEvent("map-click")'
            ></app-strip-multiple>
        </ng-container>
        <ng-container ngProjectAs='content-header'>
            <ng-container *ngIf='drawerState !== DrawerState.Presets'>
                <div *ngIf='cardState !== CardState.Full' class='counts' (click)='$event.stopPropagation()' [class.expanded]='expandCounts()'>
                    <ng-container *ngIf='search.loading'>
                        <div class='loading'></div>
                        <div class='loading'></div>
                        <div class='loading'></div>
                    </ng-container>
                    <ng-container *ngIf='!search.loading'>
                        <app-chip *ngFor='let chip of (collapseCounts ? counts.slice(0, 10) : counts)' [chip]='chip'></app-chip>
                        <div class='counts-more' *ngIf='collapseCounts' (click)='collapseCounts = 0'>
                            <span>+{{collapseCounts}}</span>&nbsp;<span i18n>סוגים</span>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <ng-container ngProjectAs='content'>
            <ng-container *ngIf='drawerState === DrawerState.Presets'>
                <app-preset-strip></app-preset-strip>
            </ng-container>
            <ng-container *ngIf='drawerState !== DrawerState.Presets'>
                <app-service-list *ngIf='cardState !== CardState.Full' (selected)='state.card = $event' [cardList]='selectedMulti'></app-service-list>
                <div class='single-service'>
                    <app-single-service *ngIf='cardState === CardState.Full && selectedCard' [card]='selectedCard'></app-single-service>        
                </div>
            </ng-container>
        </ng-container>


    </app-drawer>
    <app-disclaimer *ngIf='disclaimerVisible' (closed)='closeDisclaimer($event)'></app-disclaimer>
    <div class='logo' [class.bump]='drawerState !== DrawerState.Hidden'></div>
</div>

<!-- Desktop -->
<div class='sidebar layout-desktop'>
    <div class='header' [class.hidden]='!!selectedCard' [class.active]='headerVisible()'>
        <app-filtering (activated)='headerActive = $event' (menu)='menu=true'></app-filtering>
    </div>
    <app-drawer [state]='DrawerState.Full' (handle)='handleEvent($event)' [class.display-none]='!!headerActive' #drawer>
        <ng-container ngProjectAs='content-footer'>
            <ng-container *ngIf='drawerState !== DrawerState.Presets'>
                <div *ngIf='!selectedCard' class='counts' (click)='$event.stopPropagation()'>
                    <ng-container *ngIf='search.loading'>
                        <div class='loading'></div>
                        <div class='loading'></div>
                        <div class='loading'></div>
                    </ng-container>
                    <ng-container *ngIf='!search.loading'>
                        <app-chip *ngFor='let chip of (collapseCounts ? counts.slice(0, 10) : counts)' [chip]='chip'></app-chip>
                        <div class='counts-more' *ngIf='collapseCounts' (click)='collapseCounts = 0'>
                            <span>+{{collapseCounts}}</span>&nbsp;<span i18n>סוגים</span>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <ng-container ngProjectAs='content'>
            <ng-container *ngIf='drawerState === DrawerState.Presets'>
                <app-preset-strip></app-preset-strip>
            </ng-container> 
            <ng-container *ngIf='drawerState !== DrawerState.Presets'>
                <app-service-list *ngIf='!selectedCard' (selected)='state.card = $event' [cardList]='selectedMulti' (hover)='mapHoverPoints($event ? [$event] : [])'></app-service-list>
                <div class='single-service' *ngIf='!!selectedCard'>
                    <div class='close-button' (click)='$event.stopPropagation(); handleEvent("close-card")'></div>
                    <app-single-service *ngIf='!!selectedCard' [card]='selectedCard'></app-single-service>                            
                </div>
            </ng-container>
        </ng-container>
    </app-drawer>
</div>
<div class='mainbar layout-desktop'>
    <app-map *ngIf='layout.desktop' (points)='mapSelectedPoints($event)' (map)='setMap($event)' (hover)='mapHoverPoints($event)'></app-map>
    <div class='logo'></div>
    <div *ngIf='!disclaimerVisible' class='disclaimer' [class.fade]='miniDisclaimerHidden'></div>
    <app-disclaimer *ngIf='disclaimerVisible' (closed)='closeDisclaimer($event)'></app-disclaimer>
</div>
<div class='display-none' #mapPopup *ngIf='layout.desktop && !!currentPopup && (selectedCard || selectedMulti || hoverCard || hoverMulti)'>
    <div class='map-popup'>
        <app-strip-single *ngIf='selectedCard && !selectedMulti'
            [card]='selectedCard'
            (closed)='handleEvent("map-click")'
        ></app-strip-single>
        <app-popup-multiple *ngIf='selectedMulti'
            [cards]='selectedMulti'
            (selected)='state.card = $event'
            (closed)='handleEvent("map-click")'
        ></app-popup-multiple>
        <app-strip-single *ngIf='hoverCard'
            class='hover'
            [card]='hoverCard'
            (selected)='state.card = $event'
            (hover)='mapHoverPoints($event)'
        ></app-strip-single>
        <app-popup-multiple *ngIf='hoverMulti'
            (hover)='mapHoverPoints($event)'
            (selectMulti)='mapSelectedPoints($event)'
            (selected)='mapSelectedPoints(hoverMulti); state.card = $event'
            [cards]='hoverMulti'
        ></app-popup-multiple>
    </div>
</div>

<app-menu-backdrop [active]='!!menu || !!infoPage' (click)='menu = false; infoPage = null'></app-menu-backdrop>
<app-menu [active]='!!menu' (close)='menu = false; infoPage = $event; resizeMap()'></app-menu>
<app-menu-popup-contact [active]='infoPage === "contact"' (close)='infoPage = null'></app-menu-popup-contact>
<app-menu-popup-partners [active]='infoPage === "partners"' (close)='infoPage = null'></app-menu-popup-partners>
<app-menu-popup-about [active]='infoPage === "about"' (close)='infoPage = null'></app-menu-popup-about>