<!-- Mobile -->
<div class='header layout-mobile' [class.hidden]='headerState === HeaderState.Hidden' [class.active]='headerVisible()'>
    <div class='close-button' (click)='handleEvent("close")'></div>
    <app-filtering (activated)='headerActive = $event'></app-filtering>
</div>
<div class='content layout-mobile' [class.hidden]='headerState === HeaderState.Visible && headerActive'>
    <app-map *ngIf='layout.mobile' (points)='mapSelectedPoints($event)' (map)='setMap($event)'></app-map>
    <app-drawer [state]='drawerState' (handle)='handleEvent($event)' (height)='updateDrawerHeight($event)' *ngIf='!disclaimerVisible'>
        <ng-container ngProjectAs='strip'>
            <app-strip-single *ngIf='selectedItem && drawerState !== DrawerState.Most' 
                [service]='selectedItem' (selected)='state.selectService($event)'
                (closed)='handleEvent("map-click")'
            ></app-strip-single>
            <app-strip-multiple *ngIf='selectedItems && drawerState === DrawerState.Peek'
                [services]='selectedItems' (selected)='state.selectService($event)'
                (closed)='handleEvent("map-click")'
            ></app-strip-multiple>
        </ng-container>
        <ng-container ngProjectAs='content-header'>
            <ng-container *ngIf='drawerState !== DrawerState.Presets'>
                <div *ngIf='itemState !== ItemState.Full' class='counts' (click)='$event.stopPropagation()'>
                    <app-chip *ngFor='let chip of counts' [chip]='chip'></app-chip>
                </div>
            </ng-container>
        </ng-container>
        <ng-container ngProjectAs='content'>
            <ng-container *ngIf='drawerState === DrawerState.Presets'>
                <app-preset-strip></app-preset-strip>
            </ng-container>
            <ng-container *ngIf='drawerState !== DrawerState.Presets'>
                <app-service-list *ngIf='itemState !== ItemState.Full' (selected)='state.selectService($event)'></app-service-list>
                <app-single-service *ngIf='itemState === ItemState.Full' [item]='selectedItem'></app-single-service>        
            </ng-container>
        </ng-container>


    </app-drawer>
    <app-disclaimer *ngIf='disclaimerVisible' (closed)='closeDisclaimer($event)'></app-disclaimer>
    <div class='logo' [class.bump]='drawerState !== DrawerState.Hidden'></div>
</div>

<!-- Desktop -->
<div class='sidebar layout-desktop'>
    <div class='header' [class.hidden]='!!selectedItem' [class.active]='headerVisible()'>
        <app-filtering (activated)='headerActive = $event'></app-filtering>
    </div>
    <app-drawer [state]='DrawerState.Full' (handle)='handleEvent($event)' [class.display-none]='!!headerActive'>
        <ng-container ngProjectAs='content-footer'>
            <ng-container *ngIf='drawerState !== DrawerState.Presets'>
                <div *ngIf='!selectedItem' class='counts' (click)='$event.stopPropagation()'>
                    <app-chip *ngFor='let chip of counts' [chip]='chip'></app-chip>
                </div>
            </ng-container>
        </ng-container>
        <ng-container ngProjectAs='content'>
            <ng-container *ngIf='drawerState === DrawerState.Presets'>
                <app-preset-strip></app-preset-strip>
            </ng-container> 
            <ng-container *ngIf='drawerState !== DrawerState.Presets'>
                <app-service-list *ngIf='!selectedItem' (selected)='state.selectService($event)'></app-service-list>
                <div  *ngIf='!!selectedItem' class='close-button' (click)='handleEvent("close")'></div>
                <app-single-service *ngIf='!!selectedItem' [item]='selectedItem'></app-single-service>    
            </ng-container>
        </ng-container>
    </app-drawer>
</div>
<div class='mainbar layout-desktop'>
    <app-map *ngIf='layout.desktop' (points)='mapSelectedPoints($event)' (map)='setMap($event)'></app-map>
    <div class='logo'></div>
    <app-disclaimer *ngIf='disclaimerVisible' (closed)='closeDisclaimer($event)'></app-disclaimer>
</div>
<div class='display-none' #mapPopup *ngIf='layout.desktop && hasPopup && (selectedItem || selectedItems || savedSelectedItems)'>
    <div class='map-popup'>
        <app-strip-single *ngIf='selectedItem && !savedSelectedItems'
            [service]='selectedItem'
            (closed)='handleEvent("map-click")'
        ></app-strip-single>
        <app-strip-multiple *ngIf='selectedItems || savedSelectedItems'
            [services]='selectedItems || savedSelectedItems'
            (selected)='state.selectService($event)'
            (closed)='handleEvent("map-click")'
        ></app-strip-multiple>    
    </div>
</div>