<div class='map-window layout-desktop' [class.national-service]='nationalService' #mapWindow>
    <app-map-window [mode]='inaccurate ? MWM.Inaccurate : (nationalService ? MWM.NationalService : MWM.Card)'></app-map-window>
</div>
<div class='scrolled' #scrolled>
    <div class='map-window layout-mobile' [class.national-service]='nationalService' #mapWindow>
        <app-map-window [mode]='inaccurate ? MWM.Inaccurate : (nationalService ? MWM.NationalService : MWM.Card)' [link]='branchLink'></app-map-window>
    </div>
    <div class='content'
        #content
    >
        <div class='branch'>
            <app-branch-header [card]='card' [link]='branchLink' [cardId]='cardId' [landingPage]='landingPage' [compact]='false'></app-branch-header>
            <app-card *ngIf='card' [card]='card' (zoomout)='zoomout.emit($event)'></app-card>
        </div>
    </div>
    <div class='controls layout-mobile'>
        <a class='back' [routerLink]='["../.."]' queryParamsHandling='preserve' *ngIf='!landingPage' role='button' aria-label="go back"></a>
        <div class='menu-icon' *ngIf='landingPage'><app-menu-icon [dark]='true'></app-menu-icon></div>
        <a class='search' [routerLink]='["/q"]' [queryParams]="searchParams?.original_query ? {q: searchParams?.original_query} : {}" role="button" aria-label="search"></a>
    </div>    
    <div class='quick-actions' *ngIf='card' [class.visible]='showQuickActions' [class.safari]='platform.safari'>
        <app-quick-actions [card]='card'></app-quick-actions>
    </div>
</div>
