@import url(../search.less);

:host {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex: 0 1 100%;
    position: relative;
    .clear-button {
        appearance: none;
        .search-icon;
        background-image: url(../../../assets/img/icon-close.svg);
        position: absolute;
        left: 8px;
        &:hover {
            background-image: url(../../../assets/img/icon-close.svg);
        }
    }

    input {
        width: 100%;
        &.mobileStyle {
            height: 40px;
        }
        &.desktopStyle {
            height: 64px;
        }
        background-color: @color-gray-7;
        border: 2px solid @color-gray-4;
        border-radius: 8px;
        .font-rag-sans;
        font-style: normal;
        font-weight: 300;
        &.mobileStyle {
            font-size: 20px;
            padding-right: 8px;
            padding-left: 40px;
            border-width: 1px;
        }
        &.desktopStyle {
            font-size: 24px;
            .background-image;
            background-image: url(../../../assets/img/icon-search-gray-3.svg);
            background-size: 24px;
            background-position: center right 12px;
            padding-right: 48px;
            padding-left: 12px;
        }
        color: @color-gray-1;
                    
        &:placeholder-shown {
            font-weight: 300;
            color: @color-gray-3;
            &.mobileStyle {
                font-size: 16px;
            }
            &.desktopStyle {
                font-size: 20px;
            }
        }

        &.homepage {
            background-image: url(../../../assets/img/icon-search-blue-3.svg);
            &::placeholder {
                color: @color-blue-1;
            }
            border-color: @color-gray-5;
            background-color: @color-gray-7;
            outline: none;
        }
    }
}
