@import url(../search.less);

:host {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    .mobile({
        padding: 12px 8px;
        padding-right: 12px;
    });
    .desktop({
        padding: 8px 24px;
        z-index: 1;
    });
    gap: 4px;
    background: @color-white;
    border: 1px solid @color-gray-5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    .logo {
        flex: 0 0 auto;
        .background-image;
        background-image: url(../../../assets/img/logo.svg);
        height: 36px;
        width: 58px;
    }

    .back-button {
        .search-icon;
        background-image: url(../../../assets/img/icon-arrow-right.svg);
    }

    .searchbox {
        display: flex;
        flex-flow: row;
        align-items: center;
        flex: 0 1 100%;
        position: relative;
        .clear-button {
            .search-icon;
            background-image: url(../../../assets/img/icon-close.svg);
            position: absolute;
            left: 8px;
        }

        input {
            width: 100%;
            .mobile({
                height: 40px;
            });
            .desktop({
                height: 64px;
            });
            background-color: @color-gray-7;
            border: 2px solid @color-gray-4;
            border-radius: 4px;
            .font-rag-sans;
            font-style: normal;
            font-weight: 300;
            .mobile({
                font-size: 20px;
                padding-right: 8px;
                padding-left: 40px;
                border-width: 1px;
            });
            .desktop({
                font-size: 24px;
                .background-image;
                background-image: url(../../../assets/img/icon-search-gray-4.svg);
                background-size: 24px;
                background-position: center right 12px;
                padding-right: 48px;
                padding-left: 12px;
            });
            color: @color-gray-1;
                        
            &:placeholder-shown {
                font-weight: 400;
                color: @color-gray-3;
                .mobile({
                    font-size: 16px;
                });
                .desktop({
                    font-size: 20px;
                });
            }
        }
    }
}
