<div class='main-content'>
    <h1 class='name'>{{card.service_name}}</h1>
    <div class='description' *ngIf='card.service_description'>{{card.service_description}}</div>
    <div class='implements' *ngIf='card.service_implements'>
        <span>השירות ניתן על ידי {{card.organization_name}} מטעם {{implementingOffice()}}.
            <br/><a [href]='implementingLink()' target='_blank'>למידע נוסף על השירות</a>
        </span>
    </div>
    <div class='responses'>
        <h2 i18n>מהות השירות:</h2>
        <div class='list'>
            <app-response-linky *ngFor='let response of card.responses' [response]='response'></app-response-linky>
        </div>
    </div>
    <div class='situations' *ngIf='card.situations && card.situations.length'>
        <h2 i18n>השירות מתאים עבור:</h2>
        <div class='list'>
            <app-situation *ngFor='let situation of card.situations' [situation]='situation' [link]='true'></app-situation>
        </div>
    </div>
    <ng-content></ng-content>
    <div class='terms' *ngIf='card.service_details || card.service_payment_details'>
        <h2 i18n>תנאים לקבלת השירות:</h2>
        <div [innerHTML]='card.service_details' *ngIf='card.service_details'></div>
        <div [innerHTML]='card.service_payment_details' *ngIf='card.service_payment_details'></div>
    </div>
    <div class='contact'>
        <h2 i18n>פרטי התקשרות:</h2>
        <div class='actions'>
            <app-card-action-phone [card]='card' [compact]='true'></app-card-action-phone>
            <app-card-action-email [card]='card' [compact]='true'></app-card-action-email>
            <app-card-action-nav [card]='card' [compact]='true'></app-card-action-nav>
        </div>
    </div>
    <div class='org'>
        <h2 i18n>השירות ניתן ע״י:</h2>
        <div class='org-container' [class.open]='orgOpen' aria-label='הרחבת פרטי הארגון' clickOnReturn (activated)='orgOpen = !orgOpen'>
            <div class='org-name' *ngIf='card.organization_name_parts'>
                <a [href]='card.organization_urls[0].href' *ngIf='card?.organization_urls?.[0]?.href' target='_blank'>{{card.organization_name_parts.primary}}</a>
                <span *ngIf='!(card?.organization_urls?.[0]?.href)'>{{card.organization_name_parts.primary}}</span>
                <span *ngIf='card.organization_name_parts.secondary'> - {{card.organization_name_parts.secondary}}</span>
            </div>
            <span class='opener' [class.open]='orgOpen'></span>
            <div class='org-name' *ngIf='!card.organization_name_parts'>
                <a [href]='card.organization_urls[0].href' *ngIf='card?.organization_urls?.[0]?.href'>{{card.organization_name}}</a>
                <span *ngIf='!(card?.organization_urls?.[0]?.href)'>{{card.organization_name}}</span>
            </div>
            <div class='actions' *ngIf='orgOpen'>
                <app-card-action-phone [card]='card' [org]='true' [compact]='true'></app-card-action-phone>
                <app-card-action-email [card]='card' [org]='true' [compact]='true'></app-card-action-email>
            </div>
            <div class='org-branches' *ngIf='card.organization_branch_count > 1'>
                <a (click)='showAllBranches()' clickOnReturn aria-label="הצגת כל סניפי הארגון">{{card.organization_branch_count}} סניפים בארץ ←</a>
            </div>
        </div>
    </div>
    <div class='data-sources'>
        <ng-container *ngFor='let data_source of card.data_sources'>
            <span class='data-source' [innerHtml]='data_source'></span>
        </ng-container>
    </div>
    <div class='error-report'>
        <a [href]='suggestChangesForm' target='_blank'>
            <div class='icon'></div>
            <span i18n>מצאתי טעות בנתונים</span>
        </a>
    </div>
</div>
<app-card-branch-services [card]='card'></app-card-branch-services>
<app-disclaimer-footer></app-disclaimer-footer>
