:host {
    display: block;
    width: 100%;
    height: 100%;
    background: #888;

    .map {
        display: block;
        width: 100%;
        height: 100%;    
    }
    svg {
        width: 82px;
        height: 24px;
    }
}