@import '../../common.less';

:host {
    display: block;
    width: 100%;
    height: 100%;
    background: #888;
    .desktop({
        padding-top: 80px;
    });

    .map-container {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .map-hotjar {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .map {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        ::ng-deep {
            .mapboxgl-popup-content {
                padding: 0;
                transform: translateY(-15px);
                background: transparent;
                border-radius: 0;
                box-shadow: none;
            }
            .mapboxgl-popup-tip {
                display: none;
            }
        }
    }
    svg {
        width: 82px;
        height: 24px;
    }
}