// Colors
@color-white: #ffffff;
@color-gray-1: #333333;
@color-gray-2: #4F4F4F;
@color-gray-3: #828282;
@color-gray-5: #E0E0E0;
@color-gray-6: #F2F2F2;
@color-gray-7: #FBFAF9;

@color-blue-1: #2F80ED; // TODO: Ask Mushon for true name
@color-blue-7: #EFF5FD; // TODO: Ask Mushon for true name

@color-yellow-7: #FDF9ED; // TODO: Ask Mushon for true name

// Effects
.card-shadow-base {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}
.card-shadow-card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
}

// Typography
.font-rag-sans {
    font-family: 'RAG Sans', 'Assistant', 'Sans-Serif';
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

// Dimensions
@filter-bar-height: 48px;
@search-bar-height: 56px;
@header-height: calc(@filter-bar-height + @search-bar-height);

// Utils
.background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button-image {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.tags-container {
    position: relative;
    display: block;
    transform: rotate(0deg);
}

.tag-list {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 4px;
}

.scrolled-tag-list {
    .tag-list;
    flex-wrap: nowrap;
    overflow-x: scroll;
    position: relative;
    padding: 0 16px;
    .no-scrollbars;
    .shade {
        position: fixed;
        height: 100%;
        top: 0;
        width: 16px;
        z-index: 1;
        pointer-events: none;
        content: ' ';
    }
    &::before {
        .shade;
        right: 0;
        background: linear-gradient(270deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 83.33%);
    }
    &::after {
        .shade;
        left: 0;
        background: linear-gradient(90deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 83.33%);
    }
}

.no-scrollbars {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
        display: none;
    }
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@mobile-threshold: 768px;

.mobile(@rules) {
    @media only screen and (max-width: (@mobile-threshold - 1px)) {
        @rules();
    }
}

.desktop(@rules) {
    @media only screen and (min-width: @mobile-threshold) {
        @rules();
    }
}

.mobile({
    ::ng-deep .layout-desktop {
        display: none !important;
    }
});

.desktop({
    ::ng-deep .layout-mobile {
        display: none !important;
    }
});

::ng-deep .display-none {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}