// Colors
@color-white: #ffffff;
@color-gray-1: #333333;
@color-gray-2: #4F4F4F;
@color-gray-3: #828282;
@color-gray-5: #E0E0E0;
@color-gray-6: #F2F2F2;
@color-gray-7: #FBFAF9;

@color-blue-1: #2F80ED;
@color-blue-2: #2D9CDB;
@color-blue-3: #07B2EA;
@color-blue-5: #BADEFE;
@color-blue-7: #EFF5FD; // TODO: Ask Mushon for true name

@color-yellow-7: #FDF9ED; // TODO: Ask Mushon for true name

@color-yellow: #F2C94C;
@color-orange: #F2994A;
@color-red: #EB5757;
@color-green-2: #27AE60;

@color-purple-1: #9B51E0;
@color-purple-2: #BB6BD9;

@color-khaki: #A0A264;



// Effects
.card-shadow-base {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}
.card-shadow-card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
}
.drawer-shadow {
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}
.card-hover-shadow {
    position: relative;
    top: -1px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

// Typography
.font-rag-sans {
    font-family: 'RAG Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

// Dimensions
@filter-bar-height: 48px;
@search-bar-height: 56px;
@header-height: calc(@filter-bar-height + @search-bar-height);
@sidebar-width: 360px;

// Utils
.background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button-image {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.tags-container {
    position: relative;
    display: block;
    transform: rotate(0deg);
}

.tag-list {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 4px;
}

.scrolled-tag-list {
    .tag-list;
    width: ~'calc(100% + 16px)';
    flex-wrap: nowrap;
    overflow-x: scroll;
    position: relative;
    padding: 0 8px;
    margin: 0 -8px;
    .no-scrollbars;
    .shade {
        position: fixed;
        height: 100%;
        top: 0;
        width: 16px;
        z-index: 1;
        pointer-events: none;
        content: ' ';
    }
    &::before {
        .shade;
        right: -8px;
        background: linear-gradient(270deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 83.33%);
    }
    &::after {
        .shade;
        left: -8px;
        background: linear-gradient(90deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 83.33%);
    }
}

.no-scrollbars {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
        display: none;
    }
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis-2-line {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}


@mobile-threshold: 768px;

.mobile(@rules) {
    @media only screen and (max-width: (@mobile-threshold - 1px)) {
        @rules();
    }
}

.desktop(@rules) {
    @media only screen and (min-width: @mobile-threshold) {
        @rules();
    }
}

.mobile({
    ::ng-deep .layout-desktop {
        display: none !important;
    }
});

.desktop({
    ::ng-deep .layout-mobile {
        display: none !important;
    }
});

::ng-deep .display-none {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.loading {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;  
    background: rgb(239, 241, 246) no-repeat;
    display: inline-block;
    will-change: transform;
  
    &:after,
    &:before {
      box-sizing: border-box;
    }
  
    &:after,
    &:before {
        box-sizing: border-box;
    }

    transform: translate3d(0, 0, 0);
  
    &:before {
        animation: progress 2s ease-in-out infinite;
        background-size: 200px 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        content: '';
    }
  
    &:before {
        background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.6),
          rgba(255, 255, 255, 0)
        );
    }
}  

@keyframes progress {
    0% {
      transform: translate3d(-200px, 0, 0);
    }
    100% {
      transform: translate3d(calc(200px + 100vw), 0, 0);
    }
  }