<div class='wrapper' [class.materialized]='materialized'>
    <app-filter-button (clicked)='active = !active'></app-filter-button>
    <div class='response-toggle' *ngIf='responseFilter' [style.background]='responseColor' (click)='state.responseFilter = null'>
        <span>{{ responseFilter.name }}</span>
        <img _ngcontent-serverapp-c63="" src="assets/img/icon-circle-x.svg">
    </div>
    <ng-container *ngFor='let group of (situations.taxonomy | async)'>
        <div class='group-selector' *ngIf='situations.activeGroup(group.slug)' (click)='situations.addEditor(group)'>
            <span>{{ situations.nameOf(group) }}</span>
            <img src='assets/img/icon-dropdown.svg'>
        </div>
    </ng-container>
</div>