<div class='wrapper' [class.materialized]='forceOpaque || situations.isActive() || layout.desktop'>
    <app-filter-button (clicked)='active = !active'></app-filter-button>
    <ng-container *ngFor='let group of (situations.taxonomy | async)'>
        <div class='group-selector' *ngIf='situations.activeGroup(group.slug)' (click)='situations.addEditor(group)'>
            <span>{{ situations.nameOf(group) }}</span>
            <img src='assets/img/icon-dropdown.svg'>
        </div>
    </ng-container>
</div>