@import '../../../common.less';

:host {
    display: block;
    padding-bottom: 24px;
}

.header {
    padding: 16px;
}

.actions {
    padding: 8px;
    display: flex;
    flex-flow: row;
    gap: 8px;
    margin: 0;
    width: 100%;
    overflow-x: scroll;
    .no-scrollbars;        
}

.content {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 16px;
    padding: 0 28px;
    margin-top: 16px;

    .description, .details {
        .font-rag-sans;
        color: @color-gray-1;
        font-size: 16px;
    }

    .description {
        font-weight: 400;
        white-space: pre-wrap;
    }

    .details {
        width: 100%;
        .details-handle {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: flex-start;
            // gap: 8px;
            height: 21px;
            width: 100%;
            padding: 0 8px;
            margin: 0;
            &:first-child {
                margin-bottom: 8px;
            }
            &:last-child {
                margin-top: 8px;
            }
            background: linear-gradient(180deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 100%), #F7F7F7;
            border-radius: 2px;
            cursor: pointer;

            span {
                .font-rag-sans;
                font-weight: 400;
                font-size: 13px;
                color: @color-gray-2;
            }

            img.rotate {
                transform: rotate(180deg);
            }
        }
        .details-content {
            overflow: hidden;

            .details-text {
                transition: margin-top 0.3s ease-in-out;

                ::ng-deep p {
                    margin: 0;
                    margin-bottom: 16px;
                }
            }
        }
    }

    .situations {
        margin: 10px 0;
        display: flex;
        flex-flow: column;
        gap: 8px;
        align-items: flex-start;
        
        & > span {
            .font-rag-sans;
            color: @color-gray-1;
            font-family: RAG-Sans-1.18;
            font-size: 13px;
        }
        .situations-list {
            display: flex;
            flex-flow: row wrap;
            gap: 2px;
            .situation {
                height: 32px;
                padding: 0 8px;
                background: #FFFFFF;
                border: 1px solid @color-gray-5;
                border-radius: 4px;
                .font-rag-sans;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: @color-gray-1;
            }
        }
    }
}

.buttons {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 10px;
    padding: 0px 20px;
    margin-top: 20px;
}