@import '../../common.less';

:host {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background: @color-white;
    box-shadow: inset 0px 0px 8px 8px @color-white;
    min-height: 24px;
    padding: 8px 8px;
    &:not(.stacked) {
        // border: 1px solid @color-gray-5;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &.stacked {
        border-top: 1px solid @color-gray-5;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-bottom: 16px;
    }
    .desktop({
        &.padded {
            padding: 16px 12px;
            min-height: 84px;
        }
    });
    gap: 4px;
    .title {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        position: relative;

        span, h2 {
            .font-rag-sans;
            max-width: 100%;
            display: inline-block;
            font-weight: 300;
            color: @color-gray-1;
            margin-bottom: 0;
            margin-top: 0;
            white-space: normal;
            font-size: 20px;
            line-height: 28px;
            .desktop({
                &.larger {
                    font-size: 24px;
                    line-height: 28px;
                }
                &.smaller {
                    font-size: 16px;
                    line-height: 20px;
                }
            });
            .mobile({
                font-size: 20px;
                line-height: 20px;
            });
            vertical-align: middle;

            &.compact {
                .ellipsis-2-line;
            }

            ::ng-deep em {
                font-weight: 600;
            }
            margin-left: 8px;
        }

        h2 {
            .mobile({
                margin-bottom: 2px;
            });
        }
        span {
            line-height: 26px;
            display: inline-flex;
            &.smaller {
                line-height: 20px;
            }
        }

        app-response, app-situation {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            // margin-bottom: 2px;
        }
        app-situation {
            margin-left: -11px;
        }
        app-response {
            margin-left: -9px;
        }
        .last {
            app-situation {
                margin-left: -4px;
            }
            app-response {
                margin-left: -4px;
            }

            > *:last-child {
                margin-left: 0;
            }
        }

        & > * {
            margin-left: 4px;
        }

        &.bold {
            span, h2 {
                font-weight: 400;
            }
        }
    }

    .snippet {
        .font-rag-sans;
        font-weight: 300;
        color: @color-gray-3;
        line-height: 24px;
        font-size: 13px;
        line-height: 17px;
        padding-bottom: 4px;
        // line-break: anywhere;

        .desktop({
            &.larger {
                font-size: 16px;
                line-height: 20px;
            }
        });

        ::ng-deep em {
            color: @color-gray-2;
            font-weight: 600;
        }
    }
  .description-container
  {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .service-name-img {
    height: 18px;
  }
  .description-span {
    display: inline-block;
    white-space: pre-wrap;
    font-family: 'RAG Sans', 'Arial', sans-serif;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @color-gray-3;
  }
  .show-less-span {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }



  .extend-text {
    font-family: 'RAG Sans', 'Arial', sans-serif;
    display: inline;
    color: blue;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 500;
  }
  .title-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 4 1;
    align-items: flex-start;
    width: 100%;
  }
}
