@import '../../common.less';

:host {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background: @color-white;
    box-shadow: inset 0px 0px 8px 8px @color-white;
    &:not(.stacked) {
        border: 1px solid @color-gray-5;
        border-radius: 4px;
        .title:last-child {
            padding-bottom: 4px;
        }
    }
    &.stacked {
        border-top: 1px solid @color-gray-5;
    }
    min-height: 24px;
    padding: 4px 8px;
    .desktop({
        &.padded {
            padding: 16px 12px;
            min-height: 84px;
        }
    });
    gap: 4px;

    .title {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        position: relative;

        span, h2 {
            .font-rag-sans;
            max-width: 100%;
            display: inline-block;
            font-weight: 300;
            color: @color-gray-1;
            margin-bottom: 0;
            margin-top: 0;
            white-space: normal;
            font-size: 20px;
            line-height: 24px;
            .desktop({
                &.larger {
                    font-size: 24px;
                    line-height: 28px;    
                }
                &.smaller {
                    font-size: 16px;
                    line-height: 20px; 
                }
            });
            vertical-align: middle;

            &.compact {
                .ellipsis-2-line;
            }

            ::ng-deep em {
                font-weight: 600;
            }
            margin-left: 8px;
        }

        span {
            line-height: 26px;
            display: inline-flex;
            &.smaller {
                line-height: 20px; 
            }
        }

        app-response, app-situation {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-bottom: 2px;
        }
        app-situation {
            margin-left: -11px;
        }
        app-response {
            margin-left: -9px;
        }
        .last {
            > *:last-child {
                margin-left: 0;
            }
        }

        & > * {
            margin-left: 4px;
        }

        &.bold {
            span, h2 {
                font-weight: 400;
            }
        }
    }

    .snippet {
        .font-rag-sans;
        font-weight: 300;
        color: @color-gray-3;
        line-height: 24px;
        font-size: 13px;
        line-height: 17px;
        // line-break: anywhere;
        
        ::ng-deep em {
            color: @color-gray-2;
            font-weight: 600;
        }
    }
}
