@import '../../../common.less';

:host {
    width: 100%;
    display: flex;
    flex: ;
    flex-flow: column;
    align-items: stretch;

    .cards {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        gap: 8px;
        padding: 8px 16px;

        app-service-card {
            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.06));
        }    
    }
}