<div class='cards' [class.multi]='!!cardList'>
    <ng-container *ngIf='loading'>
        <div class='loading'></div>
        <div class='loading'></div>
        <div class='loading'></div>
        <div class='loading'></div>
        <div class='loading'></div>
    </ng-container>
    <ng-container *ngIf='!loading'>
        <app-service-card [card]='card' *ngFor='let card of cards' (click)='selectCard(card)' (hover)='hover.emit($event)'></app-service-card>
    </ng-container>
    <div class='more' #more></div>
</div>
