<div [style.background-color]="bgColor"
    (click)='onClick($event)'
    [class.animate]='animate'
    [style.animation-delay]='animationDelay'
>
    <span class='count' [style.background-color]="countBgColor" *ngIf='showCount'>{{chip.count}}</span>
    <span class='point' [style.background-color]="countBgColor" *ngIf='showPoint'></span>
    <ng-container *ngIf='chip.display'>
        <span class='main'
              [style.font-weight]='textWeight'
              [class.faded]='fadeTextColor'
        >{{chip.display}}</span>
    </ng-container>

</div>