@import '../../common.less';

:host {    
    width: 24px;
    height: 24px;
    display: flex;

    .menu-icon {
        .button-image(none, none);
        width: 24px;
        height: 24px;
        background-image: url(../../assets/img/icon-hamburger-gray-3.svg);
        background-size: 24px;

        &.dark {
            background-image: url(../../assets/img/icon-hamburger-gray-1.svg);
        }
    }
}