<div class='no-filtering disabled' *ngIf='disabled'>
    <span>{{ situations.nameOf(group) }}</span>
</div>
<ng-container *ngIf='!disabled'>
    <div class='no-filtering' *ngIf='!situations.activeGroup(groupId)' (click)='situations.addEditor(group)'>
        <span *ngIf='disabled'>DDDDD</span>
        <span>{{ situations.nameOf(group) }}</span>
    </div>
    <div class='filtering' *ngIf='situations.activeGroup(groupId)' (click)='situations.addEditor(group)'>
        <span>{{ situations.nameOf(group) }}:</span>
        <div class='faded-scroll' (click)='$event.stopPropagation()'>
            <div class='faded-scroll-content'>
                <span class='filtered-tag' *ngFor='let situation of situations.forGroup(groupId)' (click)='situations.addEditor(group)'>
                    <span>{{ situations.nameOf(situation) }}:</span>
                    <img src='assets/img/icon-circle-x.svg' (click)='situations.check(situation); $event.stopPropagation()'>
                </span>    
            </div>
        </div>
    </div>
</ng-container>
