<a class='logo layout-desktop' [routerLink]='["/"]' aria-label='Go to Home Page'></a>
<div class='searchbox'>
    <app-menu-icon *ngIf='layout.mobile'></app-menu-icon>
    <a class='clickable' [routerLink]='["/q"]' [queryParams]='{q: searchParams?.original_query}' [title]='searchParams?.original_query'>
        <div class='search-params' *ngIf='placeholder'>
            <span class='placeholder'>{{placeholder}}</span>
        </div>
        <div class='search-params' *ngIf='searchParams'>
            <ng-container *ngIf='searchParams.query'>
                <span class='query'>{{searchParams.query}}</span>
            </ng-container>
            <ng-container *ngIf='!searchParams.query'>
                <span class='query' *ngIf='responseDisplay'>{{responseDisplay}}</span>
                <span class='query dim' *ngIf='!responseDisplay'>כל שירות</span>
                <div class='extra-values'>
                    <ng-container *ngIf='situationDisplay'>
                        <span class='text'>עבור {{situationDisplay}}</span>
                    </ng-container>
                    <ng-container *ngIf='!situationDisplay'>
                        <span class='text soft'>עבור כולם</span>
                    </ng-container>
                    <ng-container *ngIf='searchParams.city_name && showCity'>
                        <span class='separator'></span>
                        <span class='text'>באיזור {{searchParams.city_name}}</span>
                    </ng-container>
                    <ng-container *ngIf='!searchParams.city_name || !showCity'>
                        <span class='separator'></span>
                        <span class='text soft'>באיזור המפה</span>
                    </ng-container>
                    <ng-container *ngIf='orgDisplay'>
                        <span class='separator'></span>
                        <span class='text'>של {{orgDisplay}}</span>
                    </ng-container>
                </div>
            </ng-container>    
        </div>
        <div class='search-icon'></div>    
    </a>
</div>
<div *ngIf='didYouMean' class='did-you-mean layout-mobile'>
    <span>האם התכוונת&nbsp;</span>
    <a [routerLink]='["/s", didYouMean.link]'>
        {{didYouMean.display}}
    </a><span>?</span>
</div>
<app-desktop-menu-links></app-desktop-menu-links>