<div class='where'>
    <svg class='icon' width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.25">
            <rect width="12" height="12" rx="6" [attr.fill]='categoryColor'/>
        </g>
        <rect x="2.5" y="2.5" width="7" height="7" rx="3.5" [attr.fill]='categoryColor'/>
        <rect x="2.5" y="2.5" width="7" height="7" rx="3.5" stroke="white"/>
    </svg>
    <div class='location'>
        <ng-container *ngIf='card.branch_name'>
            <span class='branch-name' [innerHtml]='card.branch_name'></span>
            <span class='address' [innerHtml]='card.branch_address'></span>    
        </ng-container>
        <ng-container *ngIf='!card.branch_name'>
            <span class='address' [innerHtml]='card.branch_address'></span>
        </ng-container>
    </div>
</div>    
