@import '../../common.less';

.transition(@property) {
    transition-property: @property;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    overscroll-behavior: auto;

    .main {
        width: 100%;
        overflow-y: scroll;
        .no-scrollbars;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        background-color: @color-white;

        .content {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            width: 100%;
        
            display: flex;
            flex-flow: column;
            align-items: stretch;
            width: 100%;

            .hero {
                width: 100%;
                .desktop({
                    display: flex;
                    flex-flow: row;
                    align-items: flex-start;    
                });
                .mobile({
                    display: flex;
                    flex-flow: column;
                    align-items: stretch;    
                });

                .part1 {
                    background-color: @color-blue-0;

                    .part1-bg {
                        .desktop({
                            background-image: url(../../assets/img/hp-bg.jpg);
                        });
                        .mobile({
                            background-image: url(../../assets/img/hp-bg-mobile.jpg);
                        });
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                        opacity: 0.8;
                    }
            
                    .desktop({
                        flex: 0 0 auto;
                        width: 50%;
                        max-width: 640px;
                        position: sticky;
                        top: 0;
                        height: 100%;
                        max-height: 100vh;
                        padding: 0 64px;
                    });
                    .mobile({
                        position: relative;
                        flex: 0 0 125vw;
                        width: 100%;
                        padding: 0 16px;
                    });

                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    .header {
                        display: flex;
                        flex-flow: row;
                        justify-content: flex-start;
                        position: absolute;
                        top: 0;                        
                        width: 100%;
                        
                        .mobile({
                            padding: 0 8px;
                            align-items: center;
                            flex: 0 0 auto;
                            gap: 4px;
                            height: 56px;
                        });
                        .desktop({
                            padding: 24px;
                            align-items: center;
                            gap: 0px;
                            height: 80px;
                        });
                        
                        .menu-button {
                            width: 42px;
                            height: 32px;
                            display: flex;
                            flex-flow: column;
                            align-items: center;
                            justify-content: center;
                        }
                        div.logo-tagline {
                            display: flex;
                            flex-flow: row;
                            align-items: flex-start;    
                            .mobile({
                                flex-flow: row;
                                align-items: flex-start;
                                gap: 4px;
                            });
                            .desktop({
                                flex-flow: row;
                                align-items: center;
                                gap: 12px;
                            });
                            .logo {
                                .background-image;
                                background-image: url(../../assets/img/logo-white.svg);
                                height: 36px;
                                width: 58px;
                            }
                
                            .tagline {
                                display: flex;
                                flex-flow: column;
                                align-items: flex-start;
                                .font-rag-sans;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 16px;
                                color: @color-gray-6;
                                margin: 0;
                                align-self: flex-end;
                            }
                        }
                    }

                    .intro {
                        width: 100%;
                        padding: 0;
                        align-self: center;
                        color: @color-white;
                        text-align: center;
                        .font-rag-sans;
                        .desktop({
                            font-size: 24px;
                            line-height: 28px;
                        });
                        .mobile({
                            font-size: 20px;
                        });
                        font-weight: 300;
                        strong {
                            font-weight: 600;
                        }
                        span {
                            white-space: pre-wrap;
                        }
                        .transition(transform);
                        transform: translateY(0px);
                    }

                    .search {
                        display: flex;
                        flex-flow: column;
                        align-items: stretch;
                        width: 100%;
                        .desktop({
                            padding: 16px 8px;
                        });
                        .mobile({
                            padding: 24px 8px;
                        });
                        .transition(transform);
                        transform: translateY(0px);
    
                        .searchbox-container {
                            height: 64px;
                            width: 100%;
                            position: relative;
                            z-index: 1;
                            app-autocomplete-results {
                                .transition(opacity);
                                transition-delay: 0;
                                width: 100%;
                                // display: none;
                                opacity: 0;
                                pointer-events: none;
                            }
                        }

                        &.searching {
                            .searchbox-container {
                                app-autocomplete-results {
                                    pointer-events: all;
                                    display: inherit;
                                    opacity: 1;
                                    position: absolute;
                                    top: calc(100% ~'+' 4px);
                                    right: 0px;
                                    transition-delay: 300ms;
                                    transition-duration: 300ms;
                                    z-index: 1;
                                }
                            }
                        }
                    }
    
                    .searching {
                        transform: translateY(-130px);
                    }
    
                    .logos {
                        position: absolute;
                        bottom: 0;
                        display: flex;
                        flex-flow: row;
                        .mobile({
                            width: 100%;
                            flex: 0 0 auto;
                            padding: 24px 16px;
                        });
                        .desktop({
                            width: auto;
                            align-self: center;
                            padding: 24px 32px;
                        });
                        overflow: hidden;
            
                        .logo-block {
                            width: 100%;
                            flex: 0 0 auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // justify-content: space-evenly;
                            .mobile({
                                flex-flow: row wrap; 
                                align-content: center;
                                // gap: 20px 56px; 
                                gap: 20px 28px; 
                            });
                            .desktop({
                                flex-flow: row; 
                                gap: 80px;
                            });
            
                            & > a {
                                display: block;
                                .background-image;
                                .mobile({
                                    flex: 0 0 auto;
                                    height: 25px;
                                    width: 90px;
                                    background-size: contain;
                                });
                                .desktop({
                                    flex: 1 1 auto;
                                    height: 30px;
                                    width: 100px;                    
                                });

                                &.kolzchut {
                                    background-image: url(../../assets/img/logo-kolzchut.png);
                                }
                                &.moj {
                                    background-image: url(../../assets/img/logo-moj.png);
                                }
                                &.digital-israel {
                                    background-image: url(../../assets/img/logo-digital-israel.png);
                                }
                            }
                        }
                    }    
                }

                .part2 {
                    .header {
                        display: flex;
                        flex-flow: row;
                        justify-content: flex-start;
                        width: 100%;
                        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);

                        .desktop({
                            background-color: @color-white;
                            padding: 20px 24px;
                            align-items: center;
                            gap: 0px;
                            height: 80px;
                            position: sticky;
                            top: 0;
                            z-index: 2;                
                        });

                        app-desktop-menu-links {
                            margin-right: auto;
                        }
                    }

                    .homepage-groups {
                        .desktop({
                            padding: 48px 64px;
                            padding-bottom: 64px;
                            display: grid;
                            grid-gap: 0 16px;
                            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
                            grid-auto-rows: 16px;
                        });
                        .mobile({
                            display: flex;
                            flex-flow: column;;
                            align-items: stretch;
                            padding: 16px 8px;
                        });

                        h2 {
                            padding: 0 24px;
                        }
    
                        .homepage-group {
                            display: flex;
                            flex-flow: column;
                            align-items: flex-start;
                            gap: 4px;
                            padding: 16px;
                            width: 100%;
                            .desktop({
                                max-width: 560px;
                                height: min-content;
                            });
    
                            .homepage-group-title {
                                text-decoration: none;
                            }
                            a.homepage-group-title {
                                cursor: pointer;
                            }
    
                            h3 {
                                margin: 0;
                                padding: 0 8px;
                                display: flex;
                                flex-flow: row;
                                align-items: center;
                                gap: 8px;
                                span {
                                    .font-rag-sans;
                                    color: @color-gray-1;
                                    font-weight: 400;
                                    .desktop({
                                        font-size: 24px;
                                        line-height: 28px;
                                    });
                                    .mobile({
                                        font-size: 20px;
                                        line-height: 20px;
                                    });
                                    .transition(color);
                                }
                                .arrow-left {
                                    display: inline-block;
                                    .background-image;
                                    background-image: url(../../assets/img/icon-arrow-left-blue-3.svg);
                                    background-size: 24px;
                                    width: 24px;
                                    height: 24px;
                                    opacity: 0;
                                    .transition(opacity);
                                }
                            }
    
                            .homepage-group-more {
                                display: flex;
                                flex-flow: row;
                                align-items: center;
                                .font-rag-sans;
                                color: @color-blue-2;
                                font-weight: 300;
                                .desktop({
                                    font-size: 16px;
                                    line-height: 28px;
                                    padding: 8px;
                                });
                                .mobile({
                                    font-size: 16px;
                                    line-height: 20px;
                                    padding: 8px;
                                });
                                cursor: pointer;
                                .after {
                                    display: inline-block;
                                    .background-image;
                                    background-image: url(../../assets/img/icon-after.svg);
                                    background-size: 16px;
                                    width: 16px;
                                    height: 16px;
                                }
                                &:hover {
                                    text-decoration: underline;
                                    font-weight: 400;    
                                }
                            }

                            .transition(border-color background-color);
                            border: 1px solid rgba(255,255,255,0);
                            background-color: rgba(255,255,255,0);;
                            // &.hovered {
                                // border: 1px solid @color-blue-6;
                                // background: @color-blue-8;
                                // border-radius: 8px;
                                // h3 {
                                //     span {
                                //         color: @color-blue-1;
                                //     }
                                //     .arrow-left {
                                //         opacity: 1;
                                //     }
                                //     text-decoration: underline;
                                //     text-decoration-color: @color-blue-1;
                                // }
                            // }
    
                            .homepage-group-items {
                                display: flex;
                                flex-flow: row wrap;
                                align-items: center;
                                gap: 4px;
                                .homepage-group-item {
                                    border-radius: 4px;
                                    border: 1px solid @color-gray-6;
                                    background-color: white;
                                    .font-rag-sans;
                                    color: @color-blue-2;
                                    font-weight: 300;
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    .desktop({
                                        padding: 0 8px;
                                        font-size: 20px;
                                        line-height: 28px;
                                    });
                                    .mobile({
                                        padding: 4px 8px;
                                        font-size: 16px;
                                        line-height: 20px;
                                    });
                                    cursor: pointer;
                                    &:hover {
                                        border: 1px solid @color-blue-6;
                                        background: @color-blue-7;
                                        color: @color-blue-0;
                                    }
                                }
                            }
                        }
                    }
                }
         
            }
        }
        .alternate-search {
            position: fixed;
            top: 8px;
            left: 8px;
            width: 48px;
            height: 48px;
            border-radius: 24px;
            border: 1px solid @color-gray-5;
            background: @color-gray-7;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
            background-image: url(../../assets/img/icon-search-blue-3.svg);
            background-size: 24px;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            .transition(opacity);
            &.visible {
                opacity: 1;
            }
        }
    }

    // .main {
    //     display: flex;
    //     flex-flow: column;
    //     flex: 0 0 100%;
    //     padding: 8px 0;
    //     background-image: url(../../assets/img/hp-bg.jpg);
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     .desktop({
    //         background-color: #d9e7f0;
    //         background-image: url(../../assets/img/hp-bg-desktop.jpg);
    //         background-size: contain;
    //         background-position: center right;
    //         padding-bottom: 48px;
    //         justify-content: space-between;
    //         align-items: stretch;
    //     });
    //     .mobile({
    //         justify-content: flex-start;
    //         flex: 1 0 100%;
    //     });


    //     .search {
    //         padding: 0 8px;
    //         display: flex;
    //         flex-flow: column;

    //         .desktop({
    //             align-self: center;
    //             max-width: 520px;
    //             margin-top: 48px;
    //             margin-bottom: 48px;
    //         });
    //         gap: 8px;

    //         .mobile({
    //             flex: 0 1 100%;
    //             padding-bottom: 16px;
    //         });

    //         p {
    //             .font-rag-sans;
    //             font-size: 16px;
    //             line-height: 20px;    
    //             margin: 0;
    //             color: @color-gray-1;
    //             font-weight: 300;
    //             strong {
    //                 font-weight: 600;
    //             }
    //             padding: 0px 16px;
    //         }


    //         .searchbox-container {
    //             margin-top: 8px;
    //             height: 64px;
    //             width: 100%;
    //             position: relative;
    //             z-index: 1;
    //             .searchbox {
    //                 display: flex;
    //                 flex-flow: column;
    //                 align-items: flex-start;
    //                 justify-content: center;
    //                 padding: 0 48px;
    //                 height: 100%;
    //                 width: 100%;
    //                 background: #FFFFFF;            
    //                 border: 1px solid @color-blue-1;
    //                 // box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.02), 0px 12px 12px rgba(0, 0, 0, 0.04), 0px 4px 4px rgba(0, 0, 0, 0.08);
    //                 border-radius: 8px;
    //                 .background-image;
    //                 background-image: url(../../assets/img/icon-search-gray-3.svg);
    //                 background-position: right 12px center;
    //                 background-size: 24px;
                    
    //                 .title {
    //                     .font-rag-sans;
    //                     font-weight: 600;
    //                     font-size: 24px;
    //                     line-height: 24px;
    //                     margin: 0;
    //                 }
                    
    //                 .subtitle {
    //                     display: flex;
    //                     flex-flow: row;
    //                     align-items: center;
    //                     gap: 6px;
    
    //                     span {
    //                         .font-rag-sans;
    //                         font-weight: 600;
    //                         font-size: 16px;
    //                     }
    
    //                     .separator {
    //                         width: 4px;
    //                         height: 4px;
    //                         border-radius: 2px;
    //                         background-color: @color-gray-4;
    //                     }
    //                 }
    
    //                 .title, span {
    //                     color: @color-gray-4;
    //                     &.active {
    //                         color: @color-black;
    //                     }
    //                 }
    
    //                 .desktop({
    //                     position: absolute;
    //                     z-index: 1;
    //                     pointer-events: none;
    //                 });
    //             }   
    //             &:hover {
    //                 .searchbox {
    //                     box-shadow: 0px 0px 24px rgba(47, 128, 237, 0.08), 0px 0px 12px rgba(47, 128, 237, 0.16), 0px 0px 4px rgba(47, 128, 237, 0.32);
    //                     .title, span, .subtitle {
    //                         color: @color-blue-1;
    //                     }
    //                     background-image: url(../../assets/img/icon-search-blue-1.svg);
    //                 }
    //             }

    //             transition: transform 300ms ease-in-out;
    //             transform: translateY(0px);
    //             app-autocomplete-results {
    //                 transition: opacity 0 ease-in-out;
    //                 transition-delay: 0;
    //                 width: 100%;
    //                 // display: none;
    //                 opacity: 0;
    //                 pointer-events: none;
    //             }
    //             &.searching {
    //                 transform: translateY(-130px);
    //                 app-autocomplete-results {
    //                     pointer-events: all;
    //                     display: inherit;
    //                     opacity: 1;
    //                     position: absolute;
    //                     top: calc(100% ~'+' 4px);
    //                     right: 0px;
    //                     transition-delay: 300ms;
    //                     transition-duration: 300ms;
    //                     z-index: 1;
    //                 }
    //             }
    //         }
    //         .examples-block {
    //             display: flex;
    //             flex-flow: column;
    //             gap: 12px;
    //             padding: 0 16px;

    //             .desktop({
    //                 min-height: 100px;
    //             });
    //             .mobile({
    //                 min-height: 120px;
    //             });
    //         }
    //         .examples, .emergencies {
    //             display: flex;
    //             flex-flow: column;
    //             gap: 8px;
    //             .explain {
    //                 color: @color-gray-1;
    //                 .font-rag-sans;
    //                 font-size: 16px;
    //                 font-weight: 300;
    //                 line-height: 20px;
    //             }
    //             .list {
    //                 display: flex;
    //                 flex-flow: row wrap;
    //                 gap: 8px;
    //                 margin-right: -4px;

    //                 // .mobile({
    //                 //     justify-content: center;
    //                 // });
    //                 .desktop({
    //                     justify-content: flex-start;
    //                 });
    //             }
    //             a {
    //                 color: @color-blue-1;
    //                 .font-rag-sans;
    //                 display: inline-block;
    //                 font-size: 16px;
    //                 font-weight: 300;
    //                 line-height: 20px;
    //                 padding: 0px 4px;
    //                 border-radius: 4px;
    //                 background: rgba(31, 55, 246, 0.10);   
    //                 white-space: nowrap;
    //                 cursor: pointer;
    //                 pointer-events: all;            
    //             }
    //         }
    //         .emergencies {
    //             a {
    //                 color: #9B0000;
    //                 font-weight: 400;
    //                 background: rgba(253, 202, 72, 0.30);
    //             }
    //             .explain {
    //                 &, a { 
    //                     font-weight: 600;
    //                 }
    //             }
    //         }
    //     }

    // }
}
