<div class='main' [class.searching]='searching'>
    <div class='header'>
        <div class='menu-button layout-mobile'>
            <app-menu-icon></app-menu-icon>
        </div>
        <div class='logo-tagline'>
            <div class='logo' alt='לוגו האתר ״כל שירות״'></div>
            <h1 class='tagline'>
                <span>כל השירותים החברתיים</span>
                <span>לכל מצב, בכל מקום</span>
            </h1>
        </div>
        <app-desktop-menu-links [homepage]='true'></app-desktop-menu-links>
    </div>    
    <div class='search' role="main">
        <p class='hide-while-searching'>
            <strong>כל שירות</strong> הוא אתר המרכז את כל השירותים החברתיים בישראל שהמדינה, ארגונים וגופים שונים מעמידים לרשותינו, האזרחים. השירותים מסווגים לפי סוג, קהלי יעד ומיקום על המפה.
        </p>
        <p class='hide-while-searching'>
            <strong>נתחיל בחיפוש?</strong>
        </p>
        <div class='searchbox-container layout-desktop' [class.searching]='searching' appArrowToTab (keydown)='keydown($event)'>
            <div class='searchbox desktop' *ngIf='!searching'>
                <div class='title active'>כל שירות</div>
                <div class='subtitle'>
                    <span class='situation'>לכל מצב</span>
                    <span class='separator'></span>
                    <span class='situation'>בכל מקום</span>
                </div>
            </div>
            <app-search-bar [config]='searchConfig' (focus)='$event ? updateFocus($event) : null' [homepage]='true'></app-search-bar>
            <app-autocomplete-results [config]='searchConfig'></app-autocomplete-results>
        </div>
        <div class='searchbox-container layout-mobile'>
            <a class='searchbox' [routerLink]='["/q"]' tabindex="0" aria-label='ביצוע חיפוש מענים חברתיים באתר'>
                <div class='title active'>כל שירות</div>
                <div class='subtitle'>
                    <span class='situation'>לכל מצב</span>
                    <span class='separator'></span>
                    <span class='situation'>בכל מקום</span>
                </div>
            </a>
        </div>
        <div class='examples-block hide-while-searching'>
            <div class='emergencies hide-while-searching'>
                <span class='explain'>ניתן לאתר שירותים <a (activated)='startSearch("שירותים למצב החירום", true)' clickOnReturn>למצב חירום המלחמתי</a> כמו:</span>
                <div class='list'>
                    <a *ngFor='let emergency of emergencies' (activated)='startSearch(emergency.title, true)' clickOnReturn>{{emergency.title}}</a>
                </div>
            </div>
            <div class='examples hide-while-searching'>
                <span class='explain'>בנוסף, ניתן לחפש באתר גם שירותי שגרה כמו:</span>
                <div class='list'>
                    <a *ngFor='let example of examples' (activated)='startSearch(example.title)' clickOnReturn>{{example.title}}</a>
                </div>
            </div>    
        </div>
    </div>
    <div class='logos hide-while-searching'>
        <div class='logo-block'>
            <a class='kolzchut' aria-label='מעבר לאתר של כל זכות בטאב חדש' href='https://www.kolzchut.org.il/he/%D7%A2%D7%9E%D7%95%D7%93_%D7%A8%D7%90%D7%A9%D7%99' target="_blank"></a>
            <a class='moj' aria-label='מעבר לאתר של משרד המשפטים בטאב חדש' href='https://www.gov.il/he/departments/ministry_of_justice/govil-landing-page' target="_blank"></a>
            <a class='digital-israel' aria-label='מעבר לאתר של מערך הדיגיטל הלאומי בטאב חדש' href='https://www.gov.il/he/departments/national-digital-agency/govil-landing-page' target="_blank"></a>    
        </div>
    </div>
    <div class='backdrop layout-desktop' (focus)='updateFocus(false)' (click)='updateFocus(false)' tabindex="0">
        <div class='top'></div>
        <div class='bottom'>
            <div class='close'></div>
        </div>
    </div>
</div>
<app-disclaimer-footer [homepage]='true' *ngIf='!searching'></app-disclaimer-footer>
