@import '../../common.less';

@staggering: 0.1s;

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    overflow-y: scroll;
    .no-scrollbars;

    .main {
        flex: 0 0 100%;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 8px 0;
        background-image: url(../../assets/img/hp-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .header {
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0px;
            padding: 0 8px;
            
            .menu-button {
                width: 32px;
                height: 32px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
            }
            > div {
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                gap: 2px;
                .logo {
                    .background-image;
                    background-image: url(../../assets/img/logo.svg);
                    height: 36px;
                    width: 58px;
                }
    
                h2 {
                    display: flex;
                    flex-flow: column;
                    align-items: flex-start;
                    .font-rag-sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: @color-gray-3;
                    margin: 0;
                }
            }
        }
        .search {
            padding: 0 8px;
            display: flex;
            flex-flow: column;
            gap: 20px;

            &.cta {
                .background-image;
                background-image: url(../../assets/img/hp-cta.svg);
                background-position: left 14px top 75px;
                background-size: 78px 199px;
            }

            .searchbox {
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                justify-content: center;
                padding: 0 24px;
                height: 64px;
                width: 100%;
                background: #FFFFFF;            
                border: 1px solid @color-blue-1;
                box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.02), 0px 12px 12px rgba(0, 0, 0, 0.04), 0px 4px 4px rgba(0, 0, 0, 0.08);
                border-radius: 32px;
                .background-image;
                background-image: url(../../assets/img/icon-search-gray-4.svg);
                background-position: left 24px center;
                background-size: 24px;
                &.cta {
                    background-image: url(../../assets/img/icon-search-black.svg);
                }
                
                h1 {
                    .font-rag-sans;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    margin: 0;
                }
                
                .subtitle {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    gap: 6px;

                    span {
                        .font-rag-sans;
                        font-weight: 600;
                        font-size: 16px;
                    }

                    .separator {
                        width: 4px;
                        height: 4px;
                        border-radius: 2px;
                        background-color: @color-gray-4;
                    }
                }

                h1, span {
                    color: @color-gray-4;

                    &.active {
                        color: @color-black;
                    }
                }
            }
            .slides {
                padding: 0 16px;
                display: flex;
                flex-flow: row;
                gap: 32px;
                align-items: flex-start;
                width: 100%;
                overflow-x: scroll;
                .no-scrollbars;    
                scroll-snap-type: x mandatory;
                overscroll-behavior-x: none;
                overscroll-behavior-y: none;
                    
                .slide {
                    width: 100%;
                    flex: 0 0 auto;
                    scroll-snap-align: center;
                    scroll-snap-stop: always;

                    .font-rag-sans;
                    h3 {
                        font-size: 16px;
                        line-height: 20px;
                        margin: 0;
                        font-weight: 400;
                        color: @color-gray-3;
                        strong {
                            font-weight: 700;
                        }
                    }
    
                    p {
                        font-size: 16px;
                        line-height: 20px;    
                        margin: 0;
                        color: @color-gray-1;
                        font-weight: 400;
                        strong {
                            font-weight: 700;
                        }
                    }
    
                    h3, p {
                        padding: 0 8px;
                    }

                    .place {
                        .font-rag-sans;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        color: #333333;
                        padding-right: 16px;
                        padding-left: 8px;
                        height: 24px;
                        .background-image;
                        background-image: url(../../assets/img/icon-place.svg);
                        background-size: 12px;
                        background-position: right 2px center;
                    }

                    .situation {
                        .font-rag-sans;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        color: #333333;
                        padding-right: 16px;
                        padding-left: 8px;
                        height: 24px;
                        background: @color-white;
                        border: 1px solid #E0E0E0;
                        border-radius: 4px;
                        .background-image;
                        background-image: url(../../assets/img/icon-situation.svg);
                        background-size: 10px 8px;
                        background-position: right 3px center;
                    }

                    .staggered { 
                        margin-top: 8px;
                        display: flex;
                        flex-flow: row wrap;
                        gap: 8px 4px;

                        & > * {
                            opacity: 0;
                        }
                        &.seen-once {
                            & > * {
                                animation: show 0.1s both;
                                &:nth-child(1) { animation-delay: 1 * @staggering; }
                                &:nth-child(2) { animation-delay: 2 * @staggering; }
                                &:nth-child(3) { animation-delay: 3 * @staggering; }
                                &:nth-child(4) { animation-delay: 4 * @staggering; }
                                &:nth-child(5) { animation-delay: 5 * @staggering; }
                                &:nth-child(6) { animation-delay: 6 * @staggering; }
                                &:nth-child(7) { animation-delay: 7 * @staggering; }
                                &:nth-child(8) { animation-delay: 8 * @staggering; }
                                &:nth-child(9) { animation-delay: 9 * @staggering; }
                                &:nth-child(10) { animation-delay: 10 * @staggering; }
                                &:nth-child(11) { animation-delay: 11 * @staggering; }
                                &:nth-child(12) { animation-delay: 12 * @staggering; }
                                &:nth-child(13) { animation-delay: 13 * @staggering; }
                                &:nth-child(14) { animation-delay: 14 * @staggering; }
                                &:nth-child(15) { animation-delay: 15 * @staggering; }
                            }
                        }
                    }
                }
            }
            .pager {
                margin-top: 32px;
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: center;
                gap: 32px;

                .chevron {
                    width: 32px;
                    height: 32px;
                    flex: 0 0 auto;
                    cursor: pointer;
                    .background-image;
                    background-size: 24px;

                    &.left {
                        background-image: url(../../assets/img/chevron-left-gray-4.svg);
                        &.active {
                            background-image: url(../../assets/img/chevron-left-gray-2.svg);
                        }
                    }
                    &.right {
                        background-image: url(../../assets/img/chevron-right-gray-4.svg);
                        &.active {
                            background-image: url(../../assets/img/chevron-right-gray-2.svg);
                        }
                    }
                }

                .dots {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    gap: 8px;
                    .dot {
                        flex: 0 0 auto;
                        width: 4px;
                        height: 4px;
                        background-color: @color-gray-4;
                        border-radius: 2px;

                        &.active {
                            width: 8px;
                            height: 8px;
                            background-color: @color-gray-3;
                            border-radius: 4px;
                            margin: -2px 0;
                        }
                    }    
                }
            }
        }
        .logos {
            display: flex;
            flex-flow: row;
            width: 100%;
            overflow: hidden;

            .logo-block {
                width: 100%;
                flex: 0 0 auto;
                display: flex;
                flex-flow: row;
                align-items: center;
                // justify-content: space-evenly;
                animation: scroll 10s linear infinite;

                & > a {
                    flex: 1 1 100%;
                    display: block;
                    height: 40px;
                    .background-image;
                    background-size: 80px 40px;

                    &.kolzchut {
                        background-image: url(../../assets/img/logo-kolzchut-gray.svg);
                    }
                    &.moj {
                        background-image: url(../../assets/img/logo-moj-gray.svg);
                    }
                    &.digital-israel {
                        background-image: url(../../assets/img/logo-digital-israel-gray.svg);
                    }
                }
            }
        }
    }
    .disclaimer {
        background: @color-white;
        padding: 24px;
        .font-rag-sans;
        font-size: 13px;
        color: @color-gray-1;
        display: flex;
        flex-flow: column;
        gap: 8px;

        strong {
            font-weight: 700;
        }

        p {
            margin: 0;
        }

        .link {
            line-height: 16px;
            a {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .style-kz {
            // background: rgba(184, 202, 63, 0.15);
            background-image: url(../../assets/img/icon-kz.svg);
        }

        .style-il {
            // background: rgba(57, 138, 193, 0.1);
            background-image: url(../../assets/img/icon-state-of-israel.svg);
        }

        .style-il, .style-kz {
            &, &:hover, &:visited {
                text-decoration: none;
                color: inherit;    
            }
            border-radius: 4px;
            padding: 4px;
            padding-right: 24px;
            padding-left: 0;
            margin-right: 6px;
            background-repeat: no-repeat;
            background-position: right 4px center;
            background-size: 16px 16px;
        }
        
        .data-disclaimer {
            margin-top: 8px;
            color: @color-gray-3;
        }
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}