<div class='main'>
    <div class='content'>
        <div class='hero'>
            <div class='part1'>
                <div class='part1-bg'></div>
                <div class='header'>
                    <div *ngIf='layout.desktop()' class='menu-button'>
                        <app-menu-icon colorScheme='light'></app-menu-icon>
                    </div>
                    <div class='logo-tagline'>
                        <div class='logo' alt='לוגו האתר ״כל שירות״'></div>
                        <h1 class='tagline'>
                            <span>כל השירותים החברתיים</span>
                            <span>לכל מצב, בכל מקום</span>
                        </h1>
                    </div>
                </div>

                <div *ngIf='layout.desktop()' class='intro' [class.searching]='searchConfig.searching' >
                    לחפש ולמצוא <strong>כל שירות</strong> חברתי<br/>
                    מכל רשות, עמותה או ארגון&nbsp;בהתאמה אישית לצרכיך&nbsp;
                </div>
                <div class='search' role="main" #search [class.searching]='searchConfig.searching' >
                    <div *ngIf='layout.desktop()' class='searchbox-container' appArrowToTab (keydown)='keydown($event)'>
                        <app-search-bar [config]='searchConfig' (focus)='$event ? updateFocus($event) : null' [homepage]='true'
                                        interactionEvent='homepage-searchbar' interactionEventWhere='homepage'        
                        ></app-search-bar>
                        <app-autocomplete-results [config]='searchConfig'></app-autocomplete-results>
                    </div>
                    <div *ngIf='layout.mobile()' class='searchbox-container'>
                        <app-search-bar [config]='searchConfig' (focus)='startSearch("", false)' [homepage]='true'
                        ></app-search-bar>
                    </div>
                </div>
                <div class='logos'>
                    <div class='logo-block'>
                        <a class='kolzchut' aria-label='מעבר לאתר של כל זכות בטאב חדש' href='https://www.kolzchut.org.il/he/%D7%A2%D7%9E%D7%95%D7%93_%D7%A8%D7%90%D7%A9%D7%99' target="_blank"></a>
                        <a class='moj' aria-label='מעבר לאתר של משרד המשפטים בטאב חדש' href='https://www.gov.il/he/departments/ministry_of_justice/govil-landing-page' target="_blank"></a>
                        <a class='digital-israel' aria-label='מעבר לאתר של מערך הדיגיטל הלאומי בטאב חדש' href='https://www.gov.il/he/departments/national-digital-agency/govil-landing-page' target="_blank"></a>    
                    </div>
                </div>
            </div>
            <div class='part2'>
                <div *ngIf='layout.desktop()' class='header'>
                    <app-desktop-menu-links [homepage]='true'></app-desktop-menu-links>
                </div>
                <app-quickLinks></app-quickLinks>
                <app-disclaimer-footer></app-disclaimer-footer>
            </div>
        </div>
    </div>
</div>
