<div class='disclaimer'>
    <p i18n>
        <strong>כל שירות</strong>&nbsp;ממפה מגוון של שירותים ומענים חברתיים שהמדינה, ארגונים וגופים  שונים מעמידים לרשותינו, האזרחים. בעזרת סינון, חיפוש ושיטוט במפה ניתן לגלות בדיוק מי יוכל לעזור לך.
    </p>
    <p i18n>
        המערכת כרגע בגירסת בטא - חלק מהמידע יכול להיות חסר או לא מדויק.
    </p>
    <div class='link'>
        <span i18n>אתר כל שירות מופעל ע״י</span>
        &nbsp;<a i18n class='style-kz' href='https://www.kolzchut.org.il/he/כל-זכות:אודות_המיזם' target='_blank'>כל זכות</a>
        <br/>
        <span i18n>בסיוע</span>
        &nbsp;<a i18n class='style-il' href='https://www.gov.il/he/departments/ministry_of_justice/govil-landing-page' target='_blank'>משרד המשפטים</a>
        &nbsp;ו<a i18n class='style-il' href='https://www.gov.il/he/departments/national-digital-agency/govil-landing-page' target='_blank'>מערך הדיגיטל הלאומי</a>. אין בסיוע הממשלתי משום נטילת אחריות לפעילות האתר או תכניו. האתר מיועד לכלל המגדרים.
    </div>
    <p class='data-disclaimer' i18n>
        כל זכות בע"מ (חל"צ), אינה אחראית לתוכן המוצג באתר. המידע באתר הוא כללי, ברובו מוזן בהדרגה ממקורות שונים בצורה אוטומטית, ואינו בהכרח מלא, מדויק, עדכני וכיו"ב. השימוש באתר הוא באחריות המשתמשים בלבד. למידע נוסף ראו הסבר על מדיניות האתר.
    </p>
</div>