<app-menu-popup>
   <div class='top'>
      <p i18n>
          <strong>כל שירות</strong>&nbsp;ממפה מגוון של שירותים ומענים חברתיים שהמדינה, ארגונים וגופים  שונים מעמידים לרשותינו, האזרחים. בעזרת סינון, חיפוש ושיטוט במפה ניתן לגלות בדיוק מי יוכל לעזור לך.
      </p>
      <p i18n>
          המערכת כרגע בגירסת בטא - חלק מהמידע יכול להיות חסר או לא מדויק.
      </p>
      <div class='link'>
          <span i18n>כל שירות מופעל ע״י</span>
          <a i18n class='style-kz' href='https://www.kolzchut.org.il/he/כל-זכות:אודות_המיזם' target='_blank'>כל זכות</a>
      </div>
      <div class='link'>
          <span i18n>בסיוע</span>
          <a i18n class='style-il' href='https://www.gov.il/he/departments/ministry_of_justice/govil-landing-page' target='_blank'>משרד המשפטים ומערך הדיגיטל הלאומי</a>
      </div>
      <p i18n>
          המידע ב״כל שירות״ נאסף ממספר מקורות מידע
          ואין לראות בכל זכות או במשרד המשפטים או במערך הדיגיטל
          הלאומי אחראים עליו.
      </p>            
  </div>
</app-menu-popup>