<button class='open-modal' [class.active]='!!totalFilters' (click)='activate.next()' aria-label='פתיחת אפשרויות הסינון'>
    <img *ngIf='!totalFilters' src='assets/img/icon-filter-white.svg' class='hover' alt='אייקון סינון'>
    <img *ngIf='!totalFilters' src='assets/img/icon-filter-gray-3.svg' class='nohover' alt='אייקון סינון'>
    <img *ngIf='!!totalFilters' src='assets/img/icon-filter-white.svg' class='hover' [alt]='"אייקון סינון עם " + totalFilters + " מסננים פעילים"'>
    <img *ngIf='!!totalFilters' src='assets/img/icon-filter-gray-1.svg' class='nohover' [alt]='"אייקון סינון עם " + totalFilters + " מסננים פעילים"'>
    <span>סינון</span>
    <div class='count' *ngIf='totalFilters'>{{totalFilters}}</div>
</button>
<div class='discovery' *ngIf='showDiscovery' (click)='activate.next()' (mousedown)='$event.stopPropagation()' (touchstart)='$event.stopPropagation()'>
    <span class='text'>
        וואו, המון תוצאות… שווה אולי למקד את המפה או <strong>להפעיל סינון</strong>
    </span>
    <div class='arrow'></div>
</div>