<div class='page-container' [class]='"stage-" + stage'>
    <app-homepage *ngIf='stage === "homepage"'></app-homepage>
    <app-search *ngIf='stage === "search"'></app-search>
    <app-searchbox-header *ngIf='(stage === "search-results" || stage === "card" || stage.indexOf("about:") === 0) && layout.desktop' 
        [query]='query'
        [showCity]='!mapMoved'
        [searchParams]='searchParams'        
    ></app-searchbox-header>
    <div class='main-content' *ngIf='stage === "search-results" || stage === "card" || stage === "point"'>
        <div class='search-results'>
            <app-searchbox-header *ngIf='stage === "search-results" && layout.mobile' 
                    [query]='query'
                    [showCity]='!mapMoved'
                    [searchParams]='searchParams'
                    [didYouMean]='didYouMean'
            ></app-searchbox-header>
            <app-results-drawer
                [state]='stage === "point" ? (searchParams?.ac_query && !card ? DrawerState.Minimal : DrawerState.Hidden) : (searchParams?.national ? DrawerState.National : drawerState)'
                [nationalCount]='nationalCount'
                *ngIf='searchParams'
                [class.visible]='stage === "point" || stage === "search-results"'
                [scrollAll]='!!filtersVisible'
                (handle)='handleDrawer($event)'
                (size)='drawerSize = $event'
            >
                <div class='content search-filters' ngProjectAs='content-header' 
                    [class.visible]='stage === "search-results" || (stage === "point" && !card)'
                    [class.filters]='filtersVisible'
                >
                    <div *ngIf='didYouMean && !filtersVisible' class='did-you-mean layout-desktop'>
                        <div class='inner'>
                            <span>האם התכוונת&nbsp;</span>
                            <a [routerLink]='["/s", didYouMean.link]'>
                                {{didYouMean.display}}
                            </a><span>?</span>    
                        </div>
                    </div>                
                    <app-search-filters 
                        [searchParams]='searchParams'
                        (params)='setSearchParams($event)'
                        (activate)='setFiltersVisible($event)'
                        #searchFilters
                    ></app-search-filters>
                </div>
                <div class='content main' ngProjectAs='content' 
                    [class.visible]='stage === "search-results" && !filtersVisible'
                    [class.filters]='filtersVisible'
                >
                    <app-search-results
                        [class.hidden]='filtersVisible === true' 
                        [class.shown]='filtersVisible === false' 
                        [searchParams]='searchParams'
                        [active]="stage === 'search-results'"
                        (zoomout)='zoomOutMap($event)'
                        (visibleCount)='visibleCount = $event'
                        (nationalCount)='nationalCount = $event'
                        (hoverCard)='hoverCard($event)'
                    ></app-search-results>
                </div>
        <!-- (handle)='handleEvent($event)' (height)='updateDrawerHeight($event)' (scrollTop)='drawerScrolled = !$event'
                            [class.away]='disclaimerVisible || infoPage'> -->
            </app-results-drawer>
        </div>
        <app-branch-container
            *ngIf='stage === "point"' 
            [cardId]='card' 
            [pointId]='point' 
            [searchParams]='searchParams'
            (size)='branchSize = $event'
            (markerProps)='markerProps = $event'
        >
        </app-branch-container>
        <app-card-container
            *ngIf='stage === "card"' 
            [cardId]='card' 
            [searchParams]='searchParams'
            (center)='centerMap($event)'
            (size)='branchSize = $event'
        >
        </app-card-container>
        <app-landing-page-overlay *ngIf='(stage === "search-results" || stage === "card")'
            [style.display]='showLandingPageOverlay ? "flex" : "none"'
            [searchParams]='searchParams' 
            [cardId]='card'
            [visibleCount]='visibleCount'
            [landingPage]='isLandingPage'
            (open)='showLandingPageOverlay = $event'
        ></app-landing-page-overlay>
    </div>
    <app-menu></app-menu>
    
    <app-menu-popup-contact *ngIf='stage === "about:contact"'></app-menu-popup-contact>
    <app-menu-popup-partners *ngIf='stage === "about:partners"'></app-menu-popup-partners>
    <app-menu-popup-about *ngIf='stage === "about:about"'></app-menu-popup-about>
</div>
<app-map *ngIf='stage !== "homepage"' 
        [searchParams]='searchParams' 
        [cardId]='card'
        [pointId]='point'
        [markerProps]='markerProps'
        (map)='map = $event'
        (mapBounds)='bounds = $event'
        aria-hidden='true'
></app-map>
