@import '../../common.less';

:host {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    position: relative;
    flex-grow: 1;
    overflow: hidden;

    app-map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }

    .selected {
        display: flex;
    }
    
    .page-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none;

        display: flex;
        flex-flow: column;
        align-items: center;

        & > *, & > .search-results > * {
            pointer-events: auto;
        }
        & > app-menu {
            pointer-events: none;
        }

        .desktop({
            app-searchbox-header {
                z-index: 2;
            }
        });

        .main-content {
            position: relative;
            flex: 1 1 auto;
            // top: 0;
            // left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;

            app-card-container, app-branch-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;    
            }

            .search-results {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;    
                display: flex;
                flex-flow: column;
                align-items: center;
                pointer-events: none;
                justify-content: flex-end;
        
                app-searchbox-header {
                    width: 100%;
                    flex: 0 0 auto;
                    pointer-events: all;
                }
                
        
                app-results-drawer {
                    width: 100%;
                    height: 100%;
                    flex: 1 1 auto;
                    display: none;
                    pointer-events: all;
        
                    &.visible {
                        display: flex;
                    }
                    .content {
                        display: none;
        
                        &.visible {
                            display: flex;
                            flex-flow: column;
                            justify-content: flex-start;
                            &.main {
                                min-height: 100%;
                                &:not(.filters) {
                                    background-color: @color-blue-8;
                                }
                            }
                        }

                        &.search-filters {
                            z-index: 1;
                            position: relative;
                            height: 100%;
                            &.filters {
                                padding-bottom: 40px;
                            }
                            .mobile({
                                border-top: 1px solid @color-blue-7;
                                max-height: 100%;
                                height: fit-content;
                            });
                        }
        
                        app-search-filters-bar {
                            z-index: 100;
                            position: sticky;
                            top: 0;
                            .desktop({
                                box-shadow: 0px 0px 12px 0px rgba(171, 199, 255, 0.50);
                            });
                        }

                        .mobile({
                            app-search-results {
                                transform: translateY(0%);
                                animation: 0.2s ease-in-out 1 forwards;
                                animation-fill-mode: forwards;
                                transition: transform 0.2s ease-in-out;
                                &.shown {
                                    animation-name: show-results;
                                }
                                &.hidden {
                                    animation-name: hide-results;
                                }
                            }
                        });

                        app-disclaimer-footer {
                            margin-top: auto;
                        }
                    }
                }    
            }
    
            .branch-containers {
                width: 100%;
                height: 100%;            
                z-index: 1;
                display: flex;
                flex-flow: row;
                align-items: stretch;
                overflow-x: scroll;
                .no-scrollbars;
            }

            app-landing-page-overlay {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            app-area-search-selector-results {
                pointer-events: all;
            }
        }
    }

    span.a11y {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
    }

    .survey {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        height: wrap-content;
        max-width: 100%;
        position: absolute;
        pointer-events: none;
        margin: 0;
        background: none;
        // border: 1px solid black;
        z-index: 1000;
        border-radius: 4px;
        // overflow: hidden;
        transition: transform 0.2s ease-in-out;
        transform: translateY(calc(100% ~'+' 20px));

        &.visible {
            transform: translateY(0%);
            // background: white;
            // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        .desktop({
            bottom: -16px;
            left: 50px;
            width: 360px;
        });
        .mobile({
            bottom: -20px;
            left: 0;
            width: 100%px;
        });
        ::ng-deep {
            * {
                pointer-events: all;
                // box-shadow: none !important;
                text-align: right !important;
                font-family: 'RAG Sans', sans-serif !important;
            }
            ._hj-widget-container {
                // box-shadow: none !important;
                & > * > * {
                    font-family: 'RAG Sans', sans-serif !important;
                    * {
                        font-family: 'RAG Sans', sans-serif !important;
                    }
                }
            }
        }
    }
}

@keyframes hide-results {
    from {
        position: inherit; visibility: visible;
        transform: translateY(0%);
    }
    99% {
        transform: translateY(100%);
        position: inherit; visibility: visible;
    }
    to {
        transform: translateY(100%);
        position: absolute; visibility: hidden;
    }
}

@keyframes show-results {
    from {
        position: inherit; visibility: visible;
    }
    1% {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }    
}