@import '../../../common.less';

.what {
    display: flex;
    flex-flow: row;
    align-items: center;

    .icon {
        width: 12px;
        height: 12px;
        margin: 0 4px;
        flex: 0 0 auto;
    }
    .service-name {
        .font-rag-sans;
        font-weight: 400;
        font-size: 20px;
        color: @color-gray-1;
        margin: 0px 4px;
    }

    &:not(.big) {
        height: 36px;
        .service-name {
            .ellipsis-2-line;
            line-height: 100%;
        }
    }
    &.big {
        span {
            font-size: 24px;
            // line-height: 24px;
        }
        .icon {
            width: 16px;
            height: 16px;
            align-self: flex-start;
            margin-top: 7px;
        }
        margin-bottom: 4px;
    }
}
