<a class='response' *ngIf='link' 
[style.background-color]='borderColor'
[routerLink]='search ? ["/q"] : ["/s", responseQuery]'
[queryParams]='search ? {q: response.name} : null'
[class.small]='small'
>
    <span class='point'>
        <span
            [style.background]='pointBgColor'
            [style.border-color]='pointBorderColor'
        ></span>
    </span>
    <span class='name'
        [class.small]='small'
        [style.font-weight]='fontWeight'
    >{{response.name}}</span>
    <span class='link' *ngIf='suffix'
        [style.background-color]='borderColor'
    >←</span>
</a>
<div class='response' *ngIf='!link' 
    [style.background]='bgColor'
    [style.border-color]='borderColor'
    (click)='onClick()'
    [class.small]='small'
>
    <span class='point'>
        <span
            [style.background]='pointBgColor'
            [style.border-color]='pointBorderColor'
        ></span>
    </span>
    <span class='name'
        [class.small]='small'
        [style.font-weight]='fontWeight'
    >{{response.name}}</span>
</div>
