<a class='response' *ngIf='link' 
[style.background-color]='borderColor'
[routerLink]='["/s", response.name]'>
    <span class='point'>
        <span
            [style.background]='pointBgColor'
            [style.border-color]='pointBorderColor'
        ></span>
    </span>
    <span class='name'
        [class.small]='small'
        [style.font-weight]='fontWeight'
    >{{response.name}}</span>
    <span class='link' 
        [style.background-color]='borderColor'
    >←</span>
</a>
<div class='response' *ngIf='!link' 
    [style.background]='bgColor'
    [style.border-color]='borderColor'
    (click)='onClick()'
>
    <span class='point'>
        <span
            [style.background]='pointBgColor'
            [style.border-color]='pointBorderColor'
        ></span>
    </span>
    <span class='name'
        [class.small]='small'
        [style.font-weight]='fontWeight'
    >{{response.name}}</span>
</div>
