@import '../../common.less';

.response {
    display: flex;
    flex-flow: row;
    align-items: center;
    background: #27AE6010; //TODO
    border: 1px solid #27AE6020; //TODO
    border-radius: 4px;
    overflow: hidden;
    height: 24px;

    &.small {
        height: 18px;
    }

    .name {
        .font-rag-sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: @color-gray-1;
        padding-left: 4px;
        &.small {
            font-size: 13px;
        }

        ::ng-deep {
            em {
                font-weight: 600;
            }
        }
        &.disabled {
            color: @color-gray-3;
        }
    }

    .point, .link {
        .font-rag-sans;
        flex: 0 0 auto;
        width: 16px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }

    .point {
        display: flex;
        flex-flow: column;
        align-items: center;
        span {
            display: block;
            width: 8px;
            height: 8px;
            // background: #27AE60; //TODO
            // border: 2px solid @color-white;
            border-radius: 4px;
        }
    }

    .link {
        height: 100%;
        background: #27AE6020;
        cursor: pointer;
    }

    &.selectable {
        .point {
            width: 18px;
            span {
                width: 8px;
                height: 8px;    
                &.disabled {
                    width: 4px;
                    height: 4px;
                }
            }
        }
        .name {
            padding-left: 6px;
            &.selected {
                padding-left: 2px;
                font-weight: 400;
            }
        }
        .icon {
            flex: 0 0 auto;
            .background-image;
            display: inline-block;
            background-image: url(../../assets/img/icon-response-deselect.svg);
            background-size: 16px;
            width: 16px;
            height: 16px;
            margin-left: 2px;
        }
    }
}
