@import '../../common.less';

:host {
    display: flex;
    flex-flow: row;
    align-items: center;
    background: #27AE6010; //TODO
    border: 1px solid #27AE6020; //TODO
    border-radius: 4px;
    overflow: hidden;

    .name {
        .font-rag-sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: @color-gray-1;
        padding-left: 4px;
    }

    .point, .link {
        flex: 0 0 auto;
        width: 16px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }

    .point {
        span {
            display: block;
            width: 8px;
            height: 8px;
            background: #27AE60; //TODO
            border: 2px solid @color-white;
            border-radius: 8px;
        }
    }

    .link {
        height: 100%;
        background: #27AE6020;
        cursor: pointer;
    }
}