<a class='map-window' [class.point-mode]='!!pointId' 
   [routerLink]='branchLink'
   queryParamsHandling='preserve'></a>
<div class='content'
    [class.stage-point]='!!pointId'
    [class.stage-card]='!!cardId'
    [class.multiple]='stage==="point" && branches.length > 1'
    #content
>
    <ng-container *ngFor='let branch of branches'>
        <div class='branch' *ngIf='stage==="point" || branch === cardBranch'>
            <a class='header' *ngIf='branch.cards.length > 0' [routerLink]='headerLink' queryParamsHandling='preserve'>
                <div class='branch-details'>
                    <h2 class='branch-name'>
                        <ng-container *ngIf='!branch.cards[0].organization_name_parts'>
                            <span class='primary'>{{branch.cards[0].organization_name}}</span>
                        </ng-container>
                        <ng-container *ngIf='branch.cards[0].organization_name_parts'>
                            <span class='primary'>{{branch.cards[0].organization_name_parts.primary}}</span>
                            <span class='secondary' *ngIf='branch.cards[0].organization_name_parts.secondary'> - {{branch.cards[0].organization_name_parts.secondary}}</span>
                        </ng-container>
                    </h2>
                    <div class='address'>
                        <ng-container *ngIf='!branch.cards[0].address_parts'>
                            <span class='primary'>{{branch.cards[0].branch_address}}</span>
                        </ng-container>
                        <ng-container *ngIf='branch.cards[0].address_parts'>
                            <span class='primary'>{{branch.cards[0].address_parts.primary}}</span>
                            <span class='secondary' *ngIf='branch.cards[0].address_parts.secondary'> - {{branch.cards[0].address_parts.secondary}}</span>
                        </ng-container>
                    </div>
                </div>
                <button class='control-icon' [class.card]='!!cardId'></button>
            </a>
            <app-card *ngIf='stage === "card" && card' [card]='card'></app-card>
            <app-point-result-stack *ngIf='stage === "point"' [cards]='branch.cards' [hiddenCards]='branch.hidden' [searchParams]='searchParams'></app-point-result-stack>    
        </div>
    </ng-container>
</div>
<div class='controls'>
    <a class='back' [routerLink]='["../.."]' queryParamsHandling='preserve' *ngIf='!landingPage'></a>
    <div class='menu-icon' *ngIf='landingPage'><app-menu-icon [dark]='true'></app-menu-icon></div>
    <a class='search' [routerLink]='["/q"]' [queryParams]="searchParams?.original_query ? {q: searchParams?.original_query} : {}"></a>
</div>
<div class='quick-actions' [style.bottom]='(stage==="card" ? actionsBottom : 0) + "px"' *ngIf='cardId'>
    <ng-container *ngIf='actionsCard'>
        <app-card-action-phone [card]='actionsCard' [org]='false'></app-card-action-phone>
        <app-card-action-url [card]='actionsCard' [org]='false'></app-card-action-url>
        <app-card-action-nav [card]='actionsCard'></app-card-action-nav>    
    </ng-container>
</div>
