<div class='accordion' [class.open]='open' [style.height.px]='height()'>
    <div class='accordion-inner' #inner>
        <div class='section-title' (activated)='select()' clickOnReturn>
            <div class='title'>{{title}}</div>
            <div class='icon'></div>
        </div>
        <div class='section-text'>
            <h3>האם שירותי העמותה שלכם מופיעים ב"כל שירות"?</h3>
            <p>אם עדיין לא – זה הזמן לדאוג שיופיעו כך שכל הזקוקים להם ידעו על קיומם ויוכלו ליהנות מהם.</p>
            <p>עליכם להזין את המידע על כל שירותי העמותה באתר "גיידסטאר" והמידע יישאב אוטומטית לאתר "כל שירות".</p>

            <p>לעזרה בתהליך הזנת המידע ראו:</p>

            <p>
                <a href='https://drive.google.com/file/d/1UJlrXyyPBFBGPerqQKkBpj2UsUNtFA18/view?usp=sharing' target="_blank">המדריך של "כל שירות" להזנת מידע</a><br/>
                <a href='https://drive.google.com/file/d/1SeW2Jeb6yGYA-87kIxO4iEAwTSUPqpQB/view?usp=sharing' target="_blank">סרטון הסבר על הזנת מידע בגיידסטאר</a><br/>
                <a href='https://www.youtube.com/watch?v=nvEqq2dxb9Q' target="_blank">סרטון הסבר של גיידסטאר למה כדאי להזין מידע</a>
            </p>

            <p>שאלות? אנא כתבו אלינו לכתובת <a href='mailto:info@kolsherut.org.il'>info&commat;kolsherut.org.il</a></p>

        </div>
    </div>
</div>
