@import '../../common.less';

:host {
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding: 8px 16px;

    &.empty {
        padding: 0;
        gap: 0;
        background-color: transparent;
    }

    .trigger {
        display: block;
        width: 100%;
        height: 1px;
        border: none;
        &.visible {
            background-color: red;
        }
    }

    & > a {
        display: block;
        width: 100%;

        // &, &:visited, &:hover {
        //     color: inherit;
        //     text-decoration: none;
        // }
    }
}