<div class='content' #handleEl 
    [class.state-peek]="state === DrawerState.Peek"
    [class.state-card]="state === DrawerState.Card"
    [class.state-hidden]="state === DrawerState.Hidden"
    [class.state-most]="state === DrawerState.Most"
    [class.state-full]="state === DrawerState.Full"
>
    <div class='strip'>
        <ng-content select='strip'></ng-content>
    </div>
    <div class='handle' (click)='$event.stopPropagation()'>
        <app-image-button imageUrl='assets/img/drawer-handle.svg'></app-image-button>
    </div>
    <div class='non-scrollable'>
        <ng-content select='content-header'></ng-content>
    </div>
    <div class='scrollable' #scrollable>
        <ng-content select='content'></ng-content>
    </div>
</div>