<div class='container'>
    <div class='logo'></div>
    <div class='menu-item' (click)='closeMe("about")' i18n>אודות המפה</div>
    <div class='menu-item' i18n>שותפים</div>
    <div class='menu-item' i18n>מדיניות פרטיות</div>
    <div class='menu-item' i18n>מצאתי טעות</div>
    <div class='menu-item' i18n>צרו קשר</div>
</div>
<div class='logos-strip'>
    <div class='scroller'>
        <div *ngFor='let url of logoUrls' class='logo-strip-item' [style.background-image]='"url(" + url + ")"'></div>
        <div *ngFor='let url of logoUrls' class='logo-strip-item' [style.background-image]='"url(" + url + ")"'></div>    
    </div>
</div>
<div class='closer' (click)='closeMe(null)'></div>