@import '../../common.less';

:host {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: stretch;
}

.button {

    .label {
        .font-rag-sans;
    }

    .icon {
        .background-image;
        flex: 0 0 auto;
    }

    &.kind-url {
        .icon {
            background-image: url(../../assets/img/icon-external-link-blue.svg);
            // background-image: url(../../assets/img/icon-globe-blue.svg);
        }
    }

    &.kind-nav {
        .icon {
            background-image: url(../../assets/img/icon-nav-blue.svg);
        }
    }

    &.kind-phone {
        span {
            direction: ltr;
        }
        .icon {
            background-image: url(../../assets/img/icon-call-blue.svg);
        }
    }

    cursor: pointer;
}

.button:not(.org) {
    flex: 1 1 auto;
    height: 40px;
    background: @color-white;
    &.primary {
        border: 1px solid @color-ios-link;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.08);    
    }
    &:not(.primary) {
        border: 1px solid @color-gray-5;
    }
    border-radius: 8px;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .icon {
        width: 24px;
        height: 24px;
    }

    .label {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: @color-ios-link;
    }

    .desktop({
        &:hover {
            .card-hover-shadow;
        }    
    });
}

.button.org {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .icon {
        width: 12px;
        height: 12px;
    }
    .label {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-decoration-line: underline;
        color: @color-gray-3;        
    }
}

