@import '../../common.less';

:host {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: stretch;
    gap: 8px;

    &.fullwidth {
        height: 40px;
    }
}

.button {

    .label {
        .font-rag-sans;
    }

    .icon {
        .background-image;
        flex: 0 0 auto;
    }

    &.kind-url {
        .icon {
            background-image: url(../../assets/img/icon-external-link-blue.svg);
            // background-image: url(../../assets/img/icon-globe-blue.svg);
        }
    }

    &.kind-nav {
        .icon {
            background-image: url(../../assets/img/icon-nav-blue.svg);
        }
    }

    &.kind-phone {
        span {
            direction: ltr;
        }
        .icon {
            background-image: url(../../assets/img/icon-call-blue.svg);
        }
    }

    &.kind-email {
        span {
            direction: ltr;
        }
        .icon {
            background-image: url(../../assets/img/icon-mail-blue.svg);
        }
    }
    cursor: pointer;
}

.button:not(.compact).primary {
    &.kind-url {
        .icon {
            background-image: url(../../assets/img/icon-external-link-white.svg);
        }
    }

    &.kind-nav {
        .icon {
            background-image: url(../../assets/img/icon-nav-white.svg);
        }
    }

    &.kind-phone {
        span {
            direction: ltr;
        }
        .icon {
            background-image: url(../../assets/img/icon-call-white.svg);
        }
    }

    &.kind-email {
        span {
            direction: ltr;
        }
        .icon {
            background-image: url(../../assets/img/icon-mail-white.svg);
        }
    }
}

.button:not(.compact) {
    flex: 1 1 auto;
    height: 40px;
    background: @color-white;
    &.primary {
        background: @color-blue-1;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.08);    
    }
    &:not(.primary) {
        border: 1px solid @color-gray-5;
    }
    border-radius: 8px;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .icon {
        width: 24px;
        height: 24px;
    }

    .label {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: @color-blue-1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.fullwidth {
        justify-content: flex-start;
        padding-right: 8px;
        padding-left: 16px;
        overflow: hidden;
        &:not(.kind-nav) {
            justify-content: space-between;
            .label {
                direction: ltr;
            }
        }    
    }

    &.primary {
        .label {
            color: @color-white;
        }
    }

    .desktop({
        &:hover {
            .card-hover-shadow;
            &.primary {
                background: @color-blue-0;
                color: @color-white;
            }
        }    
    });
}

.button.compact {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .icon {
        width: 16px;
        height: 16px;
        background-size: 12px;
        background-position: center 2px;
    }
    .label {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        &:hover {
            text-decoration-line: underline;
        }
        color: @color-gray-3;        
    }
}


.button.fullwidth {
    // width: 100%;
}

.copy {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    .background-image;
    background-size: 32px;
    background-image: url(../../assets/img/icon-copy-gray-35.svg);
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid @color-gray-5;
    .desktop({
        &:hover {
            .card-hover-shadow;
        }    
    });
}
