<div class='existing-situations' *ngIf='situations.activeSituationCount > 0'>
    <span i18n>יוצגו רק שירותים אשר זמינים עבור:</span>
    <div class='existing-situations-box'>
        <ng-container *ngFor='let group of (situations.taxonomy | async)'>
            <ng-container *ngIf='situations.activeGroup(group.slug)' >
                <div class='existing-situation' *ngFor='let situation of situations.forGroup(group.slug)' (click)='situations.addEditor(situation)'>
                    <span>{{ situations.nameOf(situation) }}</span>
                    <img src='assets/img/icon-circle-x.svg' (click)='situations.check(situation); $event.stopPropagation()'>
                </div>    
            </ng-container>
        </ng-container>
    </div>
</div>
<ng-container *ngFor='let group of (situations.taxonomy | async)'>
    <app-situation-group-filter *ngIf='situations.isEnabled(group.slug)' [group]='group'></app-situation-group-filter>
</ng-container>
<ng-container *ngFor='let group of (situations.taxonomy | async)'>
    <app-situation-group-filter *ngIf='!situations.isEnabled(group.slug)' [group]='group'></app-situation-group-filter>
</ng-container>
